<ion-content padding class="cts-login-content">

    <div class="title"><img src="assets/img/cts-lg.png"></div>
    <div>

        <ion-list *ngIf="!showEmail">
            <ion-item *ngIf="!validEmail" class="login-pad">
                <ion-label floating>Email Address</ion-label>
                <ion-input type="email" [(ngModel)]="credentials.email" required></ion-input>
            </ion-item>
            <ion-item *ngIf="validEmail" class="login-pad">
                <ion-label floating>Password</ion-label>
                <ion-input type="password" [(ngModel)]="credentials.password" required></ion-input>
            </ion-item>
            <ion-row>
                <ion-col class="login-btn" width-100>
                    <button *ngIf="!validEmail" ion-button icon-left block color="secondary" (click)="validateEmail(credentials.email)">
                        NEXT
                    </button>
                    <button *ngIf="validEmail" ion-button icon-left block color="secondary" (click)="doLogin()" [disabled]="disableForm()">
                        LOGIN
                    </button>
                    <button *ngIf="validEmail" class="btn-shadow browser" ion-button icon-left block
                            (click)="backToEmail()">
                        BACK
                    </button>
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col class="login-btn" width-100>
                    <button class="pass-reset" ion-button icon-left block clear (click)="showPasswordReset()">
                        Forgot Password?
                    </button>
                </ion-col>

            </ion-row>
        </ion-list>
        <ion-row>
            <ion-item *ngIf="showEmail" class="login-pad">
                <ion-label floating>Email Address</ion-label>
                <ion-input type="email" [(ngModel)]="resetEmail" required></ion-input>
            </ion-item>
            <ion-col *ngIf="showEmail" class="login-btn" width-100>
                <button ion-button icon-left block color="primary" (click)="resetPassword()">
                    Reset Password
                </button>
            </ion-col>
            <ion-col *ngIf="showEmail" class="login-btn" width-100>
                <button ion-button icon-left block color="primary" (click)="showEmail = false">
                    Back To Login
                </button>
            </ion-col>
        </ion-row>




    </div>
</ion-content>


<ion-row>
    <ion-col text-center class="version">
        Version: 1.3.5
    </ion-col>
</ion-row>

