page-manage-tasks-home {
    .task-card-header {
        font-size: 2.5rem;
    }

    .android-title > .toolbar-title-md {
        font-size: 1.4rem;
    }

    .no-tasks {
        font-weight: 700;
        font-size: 2.5rem;
    }

    //.tasks-reorder {
    //    background-color: transparent;
    //}
    //
    //.tasks-reorder > div.item-inner {
    //    padding-right: 0 !important;
    //}
    //
    //.tasks-reorder > div.item-inner > div.input-wrapper > ion-label {
    //    margin-right: 0 !important;
    //}

    //timecard section css
    .clockOut {
        color: #d9534f;
    }

    .clockIn {
        color: #57AD57;
    }

    .orange {
        color: orange;
    }

    .clock-out {
        margin-top: -7px;
    }

    .time-font {
        font-size: 2.2rem;
    }
    // end timecard section css

    .chip-continue, .chip-clock-in {
        font-size: 1.7rem;
    }

    .show-all {
        display: inherit;
    }
    .show-navigation-only {
        display: none;
    }

    @media (min-width: 351px) {
        .show-task {
            display: none
        }
    }

    @media (max-width: 426px) {
        .next-space {
            width: 110%;
            margin-left: -5%;
        }
    }

    @media (max-width: 376px) {
        .task-icon {
            right: -10px;
        }
        .next-space {
            width: 109%;
            margin-left: -5%;
        }
        .chip-clock-in {
            font-size: 1.6rem;
        }
        .hide-chip {
            display: none;
        }
        .show-all {
            display: none;
        }
        .show-navigation-only {
            display: inherit;
        }
    }

    @media (max-width: 350px) {
        .task-icon {
            right: -5px;
        }
        .newTime {
            display: none;
        }
        .next-space {
            width: 112%;
            margin-left: -6%;
        }
        .hide-task {
            display: none
        }
        ion-col[width-60] {
            -webkit-flex: 0 0 90%;
            -ms-flex: 0 0 90%;
            -webkit-box-flex: 0;
            flex: 0 0 90%;
            max-width: 90%;
        }
    }

    .pad8 {
        padding-right: 8px;
    }

    .circle-down {
        background-color: inherit;
    }

    //    status markers on tasks

    .accept-icon {
        top: 16px;
        right: 4px;
    }

    .task-status-border {
        width: 10px;
        height: 19px;
        border: 2px solid black;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    .task-status-accept {
        width: 10px;
        height: 19px;
        background-color: #73E573;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .task-status-in-progress {
        width: 10px;
        height: 19px;
        background-color: #57AD57;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .task-status-delay {
        width: 10px;
        height: 19px;
        background-color: yellow;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .task-status-nothing {
        width: 10px;
        height: 19px;
        background-color: gray;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .task-status-emergency {
        width: 10px;
        height: 19px;
        background-color: red;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

}