page-manage-tasks-home {
    .task-card-header {
        font-size: 2.5rem;
    }

    .android-title > .toolbar-title-md {
        font-size: 1.4rem;
    }

    .no-tasks {
        font-weight: 700;
        font-size: 2.5rem;
    }

    .loadAnim {
        position: relative;
        top: -4px;
        animation: loadingMove 2s;
        animation-iteration-count: 20;
        animation-timing-function: ease-in;
        animation-direction: alternate;
    }

    .loadAnimColorRed {
        color: red;
    }

    .loadAnimColorGreen {
        color: green;
    }

    @keyframes loadingMove {
        from {
            left: 0;
        }
        to {
            left: 30px;
        }
    }


    //timecard section css
    .clockOut {
        color: #d9534f;
    }

    .clockIn {
        color: #57AD57;
    }

    .orange {
        color: orange;
    }

    .clock-out {
        margin-top: -7px;
    }

    .time-font {
        font-size: 2.2rem;
    }
    // end timecard section css

    .chip-continue, .chip-clock-in {
        font-size: 1.7rem;
    }

    .show-all {
        display: inherit;
    }
    .show-navigation-only {
        display: none;
    }

    @media (min-width: 351px) {
        .show-task {
            display: none
        }
    }

    @media (max-width: 426px) {
        .next-space {
            width: 110%;
            margin-left: -5%;
        }
    }

    @media (max-width: 376px) {
        .task-icon {
            right: -10px;
        }
        .next-space {
            width: 109%;
            margin-left: -5%;
        }
        .chip-clock-in {
            font-size: 1.6rem;
        }
        .hide-chip {
            display: none;
        }
        .show-all {
            display: none;
        }
        .show-navigation-only {
            display: inherit;
        }
    }

    @media (max-width: 350px) {
        .task-icon {
            right: -5px;
        }
        .newTime {
            display: none;
        }
        .next-space {
            width: 112%;
            margin-left: -6%;
        }
        .hide-task {
            display: none
        }
        ion-col[width-60] {
            -webkit-flex: 0 0 90%;
            -ms-flex: 0 0 90%;
            -webkit-box-flex: 0;
            flex: 0 0 90%;
            max-width: 90%;
        }
    }

    .pad8 {
        padding-right: 8px;
    }

    .circle-down {
        background-color: inherit;
    }

    //    status markers on tasks

    .managed-task-status {
        position: relative;
        height: 21px;
        top: 21px;
    }

    .task-status-accept {
        background-color: #73E573;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .task-status-in-progress {
        background-color: #57AD57;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .task-status-delay {
        background-color: yellow;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .task-status-nothing {
        background-color: gray;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .task-status-emergency {
        background-color: red;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .bottom-pad {
        padding-bottom: 11px;
    }

    .comp-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 169px;
        padding-left: 10px;
    }

    @media (min-width: 685px) {
        .comp-wrap {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 169px;
            padding-left: 10px;
        }
    }

    .mar-top13 {
        margin-top: 13px;
    }
}