<!--iOS header-->

<ion-header *ngIf="isIos">
    <ion-navbar>
        <ion-row>
            <ion-col width-50 class="bottom-pad">
                <div text-center>
                    <div class="main-title-ios">
                        Current Task
                    </div>
                    <div text-nowrap class="company-name comp-wrap">
                        {{compName}}
                    </div>
                </div>
            </ion-col>
            <ion-col width-25 class="mar-top13">
                <ion-buttons class="mar-right6" end>
                    <button class="refresh" ion-button round icon-right color="secondary"
                            (click)="loadMultipleTasks()">
                        Refresh
                        <ion-icon class="logout-hide" name="refresh"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
            <ion-col width-25 class="mar-top13">
                <ion-buttons class="mar-right6" end>
                    <button class="logout" ion-button round icon-right color="danger" (click)="logout()"> Logout
                        <ion-icon class="logout-hide" name="log-out"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<!--android header-->

<ion-header *ngIf="!isIos">
    <ion-navbar>
        <ion-row>
            <ion-col width-50 class="bottom-pad">
                <div text-center>
                    <ion-title class="main-title-ios">
                        Current Task
                    </ion-title>
                    <ion-title text-wrap class="company-name android-title">
                        {{compName}}
                    </ion-title>
                </div>
            </ion-col>
            <ion-col width-25 class="mar-top10">
                <ion-buttons class="mar-right6" end>
                    <button class="refresh" ion-button round icon-right color="secondary"
                            (click)="loadMultipleTasks()">
                        Refresh
                        <ion-icon class="logout-hide" name="refresh"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
            <ion-col width-25 class="mar-top10">
                <ion-buttons class="mar-right6" end>
                    <button class="logout" ion-button round icon-right color="danger" (click)="logout()"> Logout
                        <ion-icon class="logout-hide" name="log-out"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>


<ion-content footer>

    <!--Timecard Card-->

    <ion-card class="manage-app" *ngIf="!isLessor">
        <ion-card-header class="task-card-header time-font" (click)="showClockInOut()">

            <div *ngIf="!showTimecard" text-center>
                <span class="hide-task">Timecard Status: </span>
                <span class="show-task">Timecard:</span>
                <span *ngIf="!createEntry">
                    <span class="clockOut" *ngIf="timecardStatus === 0">Clocked Out</span><span
                    class="clockIn"
                    *ngIf="timecardStatus === 1">Clocked In</span>
                </span>
                <span class="loadAnim" [ngClass]="{'loadAnimColorGreen': timecardStatus === 0, 'loadAnimColorRed': timecardStatus === 1}" *ngIf="createEntry">...</span>
                <h3 *ngIf="!createEntry" class="orange">(Click here to clock <span *ngIf="timecardStatus === 0">in</span><span
                    *ngIf="timecardStatus === 1">out</span>)</h3>
            </div>
            <div *ngIf="showTimecard">
                <!--clock in-->
                <div *ngIf="timecardStatus === 0">
                    <ion-row class="clock-out">
                        <ion-col width-30>
                            <button class="home-btn" ion-button icon-left block
                                    (click)="!showTimecard">
                                Cancel
                            </button>
                        </ion-col>
                        <ion-col width-70>
                            <button class="home-btn" ion-button icon-left block color="secondary"
                                    (click)="createTimecardEntry(1)">
                                Clock In
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
                <!--clock out-->
                <div *ngIf="timecardStatus === 1">
                    <ion-row class="clock-out">
                        <ion-col width-30>
                            <button class="home-btn" ion-button icon-left block
                                    (click)="!showTimecard">
                                Cancel
                            </button>
                        </ion-col>
                        <ion-col width-70>
                            <button class="home-btn" ion-button icon-left block color="danger"
                                    (click)="createTimecardEntry(0)">
                                Clock Out
                            </button>
                        </ion-col>
                    </ion-row>


                </div>
            </div>
        </ion-card-header>

    </ion-card>


    <ion-card *ngIf="projectObject?.length === 0">
        <ion-card-header text-center class="task-card-header no-tasks">
            No Current Tasks
        </ion-card-header>
    </ion-card>

    <div *ngIf="projectObject?.length > 0">
        <div *ngFor="let project of projectObject; let i = index">
            <ion-card class="card-border">
                <ion-card-header class="task-card-header">
                    {{project.job_name}}
                </ion-card-header>
                <ion-card-content *ngIf="contractorDetails.proj === i">

                    <div class="task-card-content">
                        <ion-list no-padding>
                            <ion-item no-padding>
                                <h4 class="contractor-main">Project Address:</h4>
                                <h4 class="contractor-sub">
                                    {{project.address}}
                                </h4>
                                <h4 class="contractor-sub">
                                    {{project.city}}, {{project.state}}&nbsp;{{project.zip}}
                                </h4>


                            </ion-item>
                        </ion-list>
                    </div>
                    <div class="mar-bot25">

                        <ion-list no-padding text-wrap>
                            <ion-item no-padding text-wrap>
                                <h4 class="contractor-main">Contractor:</h4>
                                <h4 class="contractor-sub">
                                    {{project.contractor[0].name}}
                                </h4>
                                <h4>
                                    <button ion-button icon-left clear medium
                                            class="call-contractor"
                                            (click)="callPhone(project.contractor[0].office_phone)">
                                        <span class="contractor-phone">Office: </span> <span
                                        class="contractor-underline">{{project.contractor[0].office_phone}}</span>
                                    </button>
                                </h4>

                            </ion-item>
                        </ion-list>

                    </div>
                </ion-card-content>
                <div no-padding class="more-back move-up">
                    <ion-row>
                        <ion-col>
                            <button class="more-left" ion-button icon-left clear medium (click)="toggleDivState(i)">
                                <span *ngIf="contractorDetails.proj !== i">More ...</span>
                                <span *ngIf="contractorDetails.proj === i">Less ...</span>
                            </button>
                        </ion-col>
                        <ion-col text-right>
                            <button class="pad8" ion-button icon-left clear medium
                                    (click)="showDrivingDirections(project.lat, project.lon)">
                                <ion-icon name="navigate"></ion-icon>
                                <span class="show-navigation-only">Navigation</span>
                                <span class="show-all">Launch Navigation</span>
                            </button>
                        </ion-col>
                    </ion-row>
                </div>

                <ion-card-content>
                    <div *ngFor="let task of project.job_tasks; let j = index">
                        <div class="card-width">
                            <ion-grid (click)="openSingleTask(i, j)" class="task-button">
                                <ion-row *ngIf="activeTask.id === task.id">
                                    <ion-col width-100 text-center no-padding padding-top>

                                        <ion-chip color="secondary">
                                            <ion-label>Current Task</ion-label>
                                            <ion-icon *ngIf="taskDetails.task !== j && taskDetails.proj !== i"
                                                      class="circle-down" name="fa-chevron-circle-down"></ion-icon>
                                            <ion-chip color="secondary" *ngIf="activeTask.status_id === 4">
                                                <ion-label>Status: In Progress</ion-label>
                                            </ion-chip>
                                            <ion-chip color="danger"
                                                      *ngIf="activeTask.status_id === 5 || activeTask.status_id === 7 || activeTask.status_id === 13">
                                                <ion-label>Status:
                                                    <span *ngIf="activeTask.status_id === 5"> Delayed</span>
                                                    <span *ngIf="activeTask.status_id === 7"> Emergency</span>
                                                    <span *ngIf="activeTask.status_id === 13"> Task Paused</span>
                                                </ion-label>
                                            </ion-chip>

                                        </ion-chip>

                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="task.status_id === 7">
                                    <ion-col width-100 text-center no-padding padding-top>

                                        <ion-chip color="danger">
                                            <ion-label>Task Status: Emergency</ion-label>
                                            <ion-icon class="circle-down" name="fa-chevron-circle-down"></ion-icon>
                                        </ion-chip>

                                    </ion-col>
                                </ion-row>
                                <ion-row>

                                    <ion-col no-padding *ngIf="task.status_id === 3" class="managed-task-status" width-5>
                                        <div class="task-status-accept"></div>
                                    </ion-col>
                                    <ion-col no-padding *ngIf="task.status_id === 4" class="managed-task-status" width-5>
                                        <div class="task-status-in-progress"></div>
                                    </ion-col>
                                    <ion-col no-padding *ngIf="task.status_id === 5 || task.status_id === 13"
                                             class="managed-task-status" width-5>
                                        <div class="task-status-delay"></div>
                                    </ion-col>
                                    <ion-col no-padding *ngIf="task.status_id === 7" class="managed-task-status" width-5>
                                        <div class="task-status-emergency"></div>
                                    </ion-col>
                                    <ion-col no-padding *ngIf="task.status_id === 2" class="managed-task-status" width-5>
                                        <div class="task-status-nothing"></div>
                                    </ion-col>

                                    <ion-col class="task-text" text-left *ngIf="j >= 0" width-65>
                                        <span>{{task.task_description}}</span>
                                    </ion-col>
                                    <ion-col width-30 class="newTime" text-right>
                                        {{task.strTime}}
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>


                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

    <ion-card class="mar-bot75">
        <ion-card-header class="task-card-header">
            Additional Actions
        </ion-card-header>
        <ion-card-content padding>
            <ion-row>
                <button class="home-btn" ion-button icon-left block color="secondary"
                        (click)="openNextDayTasks()">
                    See Upcoming Tasks
                </button>
            </ion-row>

            <!--<ion-row>-->
                <!--<button class="home-btn" ion-button icon-left block color="secondary"-->
                        <!--(click)="showActiveTask()">-->
                    <!--Active Task-->
                <!--</button>-->
            <!--</ion-row>-->

            <div *ngIf="userRole === 1 || userRole === 2 || userRole === 4 && !isLessor">
                <ion-row class="management-pad">
                    <button class="home-btn" ion-button icon-left block color="secondary"
                            (click)="openInAppBrowser()">
                        Open Management App
                    </button>
                </ion-row>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
