page-alerts {

    .read-alert {
        background-color: #EFEFEF;
    }

    .unread-alert {
        background-color: #FF6674;
        color: #FFFB7F;
        margin-bottom: 18px;
    }

    .read-alert > .text-info {
        color: orange;
        font-weight: bold;
        font-size: 2.5rem !important;
        margin-top: 0;
        margin-bottom: 0;
    }

    h3 {
        font-size: 2.2rem !important;
    }

    h4 {
        font-size: 2rem !important;
    }

    h5 {
        font-size: 1.8rem !important;
    }

    h6 {
        font-size: 1.6rem !important;
    }

    .iosPhone {
        margin-top: -2px
    }

    .no-alerts {
        font-weight: 700;
        font-size: 2.5rem;
    }

    .move-up {
        margin-top: -23px;
    }

    .alert-padding {
        padding: 10px 16px 30px 16px !important;
        border-left: 4px solid #efefef !important;
        border-right: 4px solid #efefef !important;
    }

    .important {

        font-size: 1.7rem !important;
        font-weight: 500 !important;

    }

    .less-important {
        font-size: 1.7rem !important;
        font-weight: 500 !important;
    }

    .view-alert {
        font-size: 1.7rem;
        padding-left: 9px;
    }

    .view-alert-icon {
        margin-right: 5px;
    }

    .link-color {
        text-decoration: underline
    }

    .list-pad {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .contractor-sub {
        font-size: 1.6rem !important;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }

    @media (max-width: 350px) {
       .read-alert>.text-info {
           font-size: 2.1rem !important;
       }
    }
}
