page-complete-notes {
  ion-textarea {
    height: 150px;
    border: 1px solid #CCC;
    background-color: #FFF;

    textarea {
      &.text-input {
        height: 90%;
        background-color: #FFF;
        //border: 1px solid blue;
      }
    }
  }

  ion-label {
    font-weight: bold;
  }

  .back-color {
    background-color: white;
  }

  ion-col[width-50] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }



  .card {
    background-color: #FFF;
    //height: 90vh;
  }


  .fixed-height {
    height: 500px;
    background-color: #A2A2A2;
    box-shadow: none;
  }

  .btn-shadow {
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.55);
  }

  .regular-display {
    display: inline;
  }
  .small-display {
    display: none;
  }

  @media (max-width: 374px) {
    .regular-display {
      display: none;
    }
    .small-display {
      display: inline;
    }
  }

  .feedback-footer {
    background-color: #EFEFEF;
    padding: 7px 8px;
    margin-top: 30px;
  }

  .mar-bot15 {
    margin-bottom: 15px;
  }

  .list-md .item-input:last-child {
    border-bottom: none;
  }

  .list-ios > .item-block:first-child {
    border-top: none;
  }

  .list-ios > .item-block:last-child {
    border-bottom: none;
  }



  .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }




  .item-input > .item-inner > .input-wrapper {
    border-bottom: 1px solid #dedede;
  }


}
