page-foreman {
    .dir-coverage {
        background-color: #efefef;
        margin-left: -16px;
        width: 113%;
    }

    .card-md {
        border: 4px solid #EFEFEF;
    }

    .card-ios {
        border: 4px solid #EFEFEF;
    }

    .task-card-header {
        font-size: 2.3rem;
    }

    .card-margin {
        margin-left: -31px;
        margin-right: -31px;
    }

    .card-margin > .card-md {
        box-shadow: none;
        border-radius: 0;
        border-bottom: none;
    }

    .job-status {
        margin: 10px 18px 10px 16px;
        font-size: 1.6rem;
        background-color: white;
        border: 2px solid white;
        border-radius: 5px;
        padding: 4px 4px 4px 10px;
    }

    .card-width {
        margin-left: -3px;
    }

    .current-status {
        position: relative;
        height: 21px;
        top: 21px;
    }

    .status-problem {
        background-color: #E82A3B;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .status-delay {
        background-color: #FCFC79;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .status-working {
        background-color: #00E31F;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .status-complete {
        background-color: #017A12;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .status-cancelled {
        background-color: #CCC;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .not-started {
        background-color: gray;
        width: 12px;
        height: 18px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .card-ios + ion-card {
        margin-top: -15px;
    }

    .address {
        padding-top: 0;
    }

    ion-col[width-40] {
        padding-bottom: 0;
    }

    ion-col[width-60] {
        padding-bottom: 0;
    }

    .card-space {
        padding-bottom: 25px;
    }

    .card-space > .task-card-header {
        font-size: 2.5rem;
    }

    .move-up {
        margin-top: -23px;
    }

    .mar-bot25 {
        margin-bottom: 20px;
        margin-top: -10px;
    }

    .more-left {
        padding-left: 9px;
    }

    .pad8 {
        padding-right: 8px;
    }

    .list-ios > .item-block:first-child {
        border: none;
    }

    .card-ios {
        margin-bottom: 28px;
    }

    .card-ios p {
        color: black;
        letter-spacing: 0.5px;
    }

    .home-btn {
        font-size: 1.6rem;
    }

    .super-btn-pad {
        padding-top: 7px;
    }

    .super-btn-pad > ion-col > ion-item > .item-inner > .input-wrapper > ion-datetime > button {
        border: 2px solid #3F51B5;
        border-radius: 5px;
    }

    .super-tools {
        padding: 0 8px 5px 6px;
    }

    .pad-left-8 {
        padding-left: 8px;
    }

    .pad-right-8 {
        padding-right: 8px;
    }

    @media (max-width: 360px) {
        .pad-left-8 {
            padding-left: 0;
        }

        .pad-right-8 {
            padding-right: 0;
        }
    }

    @media (max-width: 328px) {
        .newTime {
            font-size: 1.5rem;
        }
    }

}
