page-history-review {
  ion-item > ion-row {
    background-color: white;
  }

  .card-content-ios {
    padding-left: 5px;
    padding-right: 5px;
  }

   .toolbar-title-ios {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-top: 7px;
    font-weight: 400;
  }
}
