page-history-feedback {
  ion-textarea {
    height: 150px;
    border: 1px solid #CCC;
    background-color: #FFF;

    textarea {
      &.text-input {
        height: 90%;
        background-color: #FFF;
        //border: 1px solid blue;
      }

    }
  }

  ion-label {
    font-weight: bold;
  }

  .card {
    background-color: #FFF;
    //height: 90vh;
  }

  .fixed-height {
    height: 1000px;
    background-color: #A2A2A2;
    box-shadow: none;
  }

  .list-ios > .item-block:first-child {
    border-top: none;
  }

  .list-ios > .item-block:last-child {
    border-bottom: none;
  }

  .list-md .item-input:last-child {
    border-bottom: none;
  }


  .feedback-footer {
    background-color: #EFEFEF;
    padding: 7px 8px;
    margin-top: 15px;
  }

  .btn-shadow {
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.55);
  }

  .mar-bot15 {
    margin-bottom: 15px;
  }

  .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .item-input > .item-inner > .input-wrapper {
    border-bottom: 1px solid #dedede;
  }

}
