page-home {

    ion-footer {
        background-color: #EFEFEF;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -2px 3px 1px;
    }

    .card p {
        color: #000;
        font-size: 1.7rem;
    }

    //load animation on no task
    .fs-no-results-msg {
        position: relative;
        animation: mymove 2s;
        animation-iteration-count: 4;
        animation-timing-function: ease-in-out;
        color: red;
        animation-delay: 1s;
        animation-direction: alternate;
    }

    @keyframes mymove {
        from {
            top: 0;
        }
        to {
            top: -75px;
        }
    }

    //load animation on clock in/out
    .loadAnim {
        position: relative;
        top: -4px;
        animation: loadingMove 2s;
        animation-iteration-count: 20;
        animation-timing-function: ease-in;
        animation-direction: alternate;
    }

    .loadAnimColorRed {
        color: red;
    }

    .loadAnimColorGreen {
        color: green;
    }

    @keyframes loadingMove {
        from {
            left: 0;
        }
        to {
            left: 30px;
        }
    }

    .taskAnim {
        position: absolute;
        top: 1px;
        animation: taskMove 2s;
        animation-iteration-count: 200;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        color: green;
        font-size: 32px;
        z-index: 100;
    }

    @keyframes taskMove {
        from {
            left: 10px;
        }
        to {
            left: 110px;
        }
    }

    .mar-top10 {
        margin-top: 10px;
    }

    .mar-top13 {
        margin-top: 13px;
    }

    .content-ios > .scroll-content {
        margin-top: 90px !important;
    }

    .card-header-md {
        font-size: 2.5rem;
    }

    .card-header-ios {
        font-size: 2.5rem;
    }

    .list-ios > .item-block:first-child {
        border: none;
    }

    .bottom-pad {
        padding-bottom: 11px;
    }

    .pad-bot18 {
        padding-bottom: 18px;
    }

    .android-title > .toolbar-title-md {
        font-size: 1.4rem;
    }

    .comp-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 169px;
        padding-left: 10px;
    }

    .button-ios {
        height: 2.4em;
    }

    .grid {
        padding: 1px 5px 5px 5px;
    }

    .button-md {
        height: 4rem;
        padding-top: 2px;
    }

    .mar-bot75 {
        margin-bottom: 75px;
    }

    .mar-bot25 {
        margin-bottom: 25px;
    }

    .pad-bot20 {
        padding-bottom: 20px;
    }

    .bold {
        font-weight: bold;
    }

    ion-grid ion-row ion-col {
        height: 40px;
    }

    ion-footer ion-grid {
        height: 62px;
    }

    .task-icon {
        top: 16px;
        right: -20px;
        color: #3F51B5;
    }

    .manage-app.card-md {
        margin-top: 6px;
    }

    .manage-app.card-ios {
        margin-top: 13px;
    }

    .manage-app > .card-header-md {
        height: 100px;
        padding-top: 10px;
    }

    .manage-app > .card-header-ios {
        height: 100px;
        padding-top: 10px;
    }

    .pad-top4 {
        padding-top: 4px;
    }

    .clockOut {
        color: #d9534f;
    }

    .clockIn {
        color: #57AD57;
    }

    .orange {
        color: orange;
    }

    .scroll-content {
        margin-top: 70px !important;
    }

    .clock-out {
        margin-top: -7px;
    }

    .unassigned {
        color: black;
        font-size: 1.8rem;
    }

    .time-font-1 {
        font-size: 2.2rem;
    }

    .greeting {
        font-size: 1.8rem;
        color: black;
        opacity: .8;
    }

    .greeting-div {
        margin-bottom: 5px;
    }

    .accept-icon {
        top: 16px;
        right: 4px;
    }

    .contractConts {
        margin: 5px 0;
    }

    .laborer-action {
        margin-left: 0;
        width: 100%;
    }

    .management-pad {
        padding-top: 10px;
    }

    .loadAni {
        position: relative;
        right: -5px;
    }

    .content-md > .scroll-content {
        margin-top: 66px !important;
    }

    .content-ios > .scroll-content {
        margin-top: 91px !important;
    }

    @media (min-width: 685px) {
        .comp-wrap {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 169px;
            padding-left: 10px;
        }
    }

    @media (max-width: 475px) {
        @keyframes taskMove {
            from {
                left: 50px;
            }
            to {
                left: 130px;
            }
        }
    }

    @media (max-width: 426px) {
        .next-space {
            width: 104%;
            margin-left: -2%;
        }
    }



    @media (max-width: 376px) {
        .task-icon {
            right: -10px;
        }

        .next-space {
            width: 105%;
            margin-left: -3%;
        }

        @keyframes taskMove {
            from {
                left: 40px;
            }
            to {
                left: 120px;
            }
        }
    }

    @media (min-width: 351px) {
        .show-task {
            display: none
        }
    }

    @media (max-width: 350px) {

        .next-space {
            width: 107%;
            margin-left: -4%;
        }

        .task-icon {
            right: -5px;
        }
        .newTime {
            color: white;
            top: -2px;
        }

        .timecard-hide {
            display: none;
        }

        .timecard-show {
            display: inherit;
        }

        .hide-task {
            display: none
        }
    }

    @media (max-width: 346px) {
        @keyframes taskMove {
            from {
                left: 25px;
            }
            to {
                left: 105px;
            }
        }
    }

}



