<!--iOS header-->

<ion-header *ngIf="isIos">
    <ion-navbar>
        <ion-row>
            <ion-col width-50 class="bottom-pad">
                <div text-center>
                    <div class="main-title-ios">
                        Current Task
                    </div>
                    <div text-nowrap class="company-name comp-wrap">
                        {{compName}}
                    </div>
                </div>
            </ion-col>
            <ion-col width-25 class="mar-top13">
                <ion-buttons class="mar-right6" end>
                    <button class="refresh" ion-button round icon-right color="secondary"
                            (click)="setCurrentTask(true)">
                        Refresh
                        <ion-icon class="logout-hide" name="refresh"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
            <ion-col width-25 class="mar-top13">
                <ion-buttons class="mar-right6" end>
                    <button class="logout" ion-button round icon-right color="danger" (click)="logout()"> Logout
                        <ion-icon class="logout-hide" name="log-out"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<!--android header-->

<ion-header *ngIf="!isIos">
    <ion-navbar>
        <ion-row>
            <ion-col width-50 class="bottom-pad">
                <div text-center>
                    <ion-title class="main-title-ios">
                        Current Task
                    </ion-title>
                    <ion-title text-wrap class="company-name android-title">
                        {{compName}}
                    </ion-title>
                </div>
            </ion-col>
            <ion-col width-25 class="mar-top10">
                <ion-buttons class="mar-right6" end>
                    <button class="refresh" ion-button round icon-right color="secondary"
                            (click)="setCurrentTask(true)">
                        Refresh
                        <ion-icon class="logout-hide" name="refresh"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
            <ion-col width-25 class="mar-top10">
                <ion-buttons class="mar-right6" end>
                    <button class="logout" ion-button round icon-right color="danger" (click)="logout()"> Logout
                        <ion-icon class="logout-hide" name="log-out"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content footer *ngIf="userRole !== 6">


    <ion-card class="manage-app" *ngIf="!isLessor">
        <ion-card-header class="task-card-header time-font" (click)="showClockInOut()">

            <div *ngIf="!showTimecard" text-center class="pad-top4">
                <span class="hide-task">Timecard Status: </span>
                <span class="show-task">Timecard:</span>
                <span class="clockOut" *ngIf="timecardStatus === 0">Clocked Out</span><span
                    class="clockIn"
                    *ngIf="timecardStatus === 1">Clocked In</span>
                <h3 class="orange">(Click here to clock <span *ngIf="timecardStatus === 0">in</span><span
                        *ngIf="timecardStatus === 1">out</span>)</h3>
            </div>
            <div *ngIf="showTimecard">
                <!--clock in-->
                <div *ngIf="timecardStatus === 0">
                    <ion-row class="clock-out">
                        <ion-col width-30>
                            <button class="home-btn" ion-button icon-left block
                                    (click)="!showTimecard">
                                Cancel
                            </button>
                        </ion-col>
                        <ion-col width-70>
                            <button class="home-btn" ion-button icon-left block color="secondary"
                                    (click)="createTimecardEntry(1)">
                                Clock In
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
                <!--clock out-->
                <div *ngIf="timecardStatus === 1">
                    <ion-row class="clock-out">
                        <ion-col width-30>
                            <button class="home-btn" ion-button icon-left block
                                    (click)="!showTimecard">
                                Cancel
                            </button>
                        </ion-col>
                        <ion-col width-70>
                            <button class="home-btn" ion-button icon-left block color="danger"
                                    (click)="createTimecardEntry(0)">
                                Clock Out
                            </button>
                        </ion-col>
                    </ion-row>


                </div>
            </div>
        </ion-card-header>

    </ion-card>


    <div *ngIf="showTasks">
        <div *ngIf="currentTask">
            <ion-card>
                <ion-card-header class="task-card-header">
                    Newest Label 11/29 2:14 pm
                </ion-card-header>
                <ion-card-content class="task-card-content">
                    <ion-list no-padding>
                        <ion-item no-padding>
                            <h4 class="project-name">
                                {{currentTask.job_name}}
                            </h4>
                            <h4 class="contractor-main">Address:</h4>
                            <h4 class="contractor-sub">
                                {{currentTask.address}}
                            </h4>
                            <h4 class="contractor-sub">
                                {{currentTask.city}}, {{currentTask.state}}&nbsp;{{currentTask.zip}}
                            </h4>
                        </ion-item>
                    </ion-list>

                    <ion-list no-padding text-wrap [@expandCollapse]="divState">
                        <ion-item class="contractor-label" no-padding text-wrap [@expandCollapse]="divState">
                            <h4 class="contractor-main" [@expandCollapse]="divState">Contractor:</h4>
                            <h4 class="contractor-sub" [@expandCollapse]="divState">
                                {{currentTask.contractor[0].name}}
                            </h4>
                            <h4 [@expandCollapse]="divState">
                                <button ion-button icon-left clear medium
                                        class="call-contractor"
                                        (click)="callPhone(currentTask.contractor[0].office_phone)"
                                        [@expandCollapse]="divState">
                                    <span class="contractor-phone" [@expandCollapse]="divState">Office: </span> <span
                                        class="contractor-underline" [@expandCollapse]="divState">{{currentTask.contractor[0].office_phone}}</span>
                                </button>
                            </h4>

                        </ion-item>
                    </ion-list>

                    <ion-list no-padding text-wrap [@expandCollapse]="divState"
                              *ngIf="currentTask.contractor_contacts?.length > 0">
                        <ion-item no-padding text-wrap [@expandCollapse]="divState">
                            <h4 class="contractor-main" [@expandCollapse]="divState">Contractor Contacts:</h4>
                            <div class="contractor-div"
                                 *ngFor="let contacts of currentTask.contractor_contacts; let p = index"
                                 [@expandCollapse]="divState">
                                <h4 class="contractor-sub" [@expandCollapse]="divState">
                                    {{contacts.first_name}} {{contacts.last_name}} <span [@expandCollapse]="divState"
                                                                                         *ngIf="contacts.title"> - {{contacts.title}}</span>
                                </h4>

                                <h4 *ngIf="contacts.office_phone" [@expandCollapse]="divState">
                                    <button ion-button icon-left clear medium
                                            class="call-contractor"
                                            (click)="callPhone(contacts.office_phone)" [@expandCollapse]="divState">
                                        <span class="contractor-phone" [@expandCollapse]="divState">Office: </span>
                                        <span class="contractor-underline" [@expandCollapse]="divState">{{contacts.office_phone}}</span>
                                    </button>
                                </h4>
                                <h4 *ngIf="contacts.cell_phone" [@expandCollapse]="divState">
                                    <button ion-button icon-left clear medium
                                            class="call-contractor"
                                            (click)="callPhone(contacts.cell_phone)" [@expandCollapse]="divState">
                                        <span class="contractor-phone" [@expandCollapse]="divState">Cell: </span> <span
                                            class="contractor-underline" [@expandCollapse]="divState">{{contacts.cell_phone}}</span>
                                    </button>
                                </h4>
                            </div>
                        </ion-item>
                    </ion-list>

                </ion-card-content>

                <div no-padding class="more-back mar-top-15">
                    <ion-row>
                        <ion-col>
                            <button ion-button icon-left clear medium (click)="toggleDivState()">
                                {{divState == 'collapse' ? 'More' : 'Less'}}...
                            </button>
                        </ion-col>
                        <ion-col>
                            <button ion-button icon-left clear medium
                                    (click)="showDrivingDirections(currentTask.lat, currentTask.lon)">
                                <ion-icon name="navigate"></ion-icon>
                                Get Directions
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-card>

            <ion-card>
                <ion-card-header class="task-card-header">
                    Current Task
                </ion-card-header>
                <ion-card-content>
                    <div class="task-card-content">
                        <ion-list no-padding text-wrap>
                            <ion-item no-padding text-wrap>
                                <h4 class="project-name capitalize">{{currentTask.job_tasks.task_description}}</h4>
                                <h5 class="s-time">Start Time:
                                    <span *ngIf="isIos">{{adjustTime(currentTask.job_tasks.updatedTime) }}</span>
                                    <span *ngIf="!isIos">{{currentTask.job_tasks.updatedTime | date:'shortTime'}}</span>
                                </h5>

                            </ion-item>

                            <div *ngIf="currentTask.job_tasks.additional_notes.length > 0">
                                <h5 class="text-info">Additional Task Notes</h5>
                                <ion-item no-padding text-wrap
                                          *ngFor="let newNotes of currentTask.job_tasks.additional_notes; let u = index">
                                    <h5 class="add_notes">{{u + 1}}: {{newNotes.notes}}</h5>
                                    <h5 class="add_by">Added By: <strong>{{newNotes.employee.first_name}}
                                        {{newNotes.employee.last_name}}</strong>
                                        at
                                        <span *ngIf="isIos">{{adjustTime(newNotes.updatedTime) }}</span>
                                        <span *ngIf="!isIos">{{newNotes.updatedTime | date:'shortTime'}}</span>
                                    </h5>


                                </ion-item>
                            </div>
                        </ion-list>
                    </div>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header class="task-card-header">
                    Crew
                </ion-card-header>
                <ion-card-content>
                    <div class="task-card-content">
                        <ion-row *ngFor="let crewMember of currentTask.job_tasks.task_crew; let k = index">
                            <ion-col class="margin-left-crew" *ngIf="crewMember.is_supervisor !== 1">
                                <h4 class="crew-font">{{crewMember.first_name}}
                                    {{crewMember.last_name}} </h4>
                                <h4 *ngIf="crewMember.is_foreman === 1"> -- Foreman --</h4>
                                <p class="crew-phone">
                                    <button ion-button icon-left clear medium
                                            class="phoneNum2"
                                            (click)="callPhone(crewMember.phone)">
                                        {{crewMember.phone}}
                                    </button>
                                </p>
                            </ion-col>
                        </ion-row>
                        <div *ngIf="currentTask.job_tasks.task_crew === 0">No Crew Specified</div>
                    </div>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header class="task-card-header">
                    Assigned Equipment
                </ion-card-header>
                <div *ngIf="currentTask.job_tasks.task_equipment.length > 0">
                    <ion-card-content class="task-card-content">
                        <ion-list no-padding text-wrap>
                            <ion-item text-wrap no-padding
                                      *ngFor="let item of currentTask.job_tasks.task_equipment; let z = index">
                                <h3 class="text-info">{{item.equipment_name}} <span class="unassigned"
                                                                                    *ngIf="item.employee_id === 0"> - Unassigned</span>
                                </h3>
                                <h4 class="s-time" *ngIf="item.notes">{{item.notes}}</h4>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </div>
                <div *ngIf="currentTask.job_tasks.task_equipment.length === 0">
                    <ion-card-content class="task-card-content crew-font">
                        No Equipment
                    </ion-card-content>
                </div>
            </ion-card>

            <ion-card>
                <ion-card-header class="task-card-header">
                    Materials/Supplier
                </ion-card-header>

                <div *ngIf="currentTask.job_tasks.task_materials.length > 0">
                    <div *ngFor="let material of currentTask.job_tasks.task_materials; let i = index">
                        <ion-card-content class="task-card-content material-padding">
                            <h3 class="text-info">{{material.material_name}}</h3>
                            <ion-list no-padding text-wrap>
                                <ion-item no-padding text-wrap>
                                    <h4 class="contractor-main">
                                        {{material.supplier.name}}
                                    </h4>
                                    <h4 class="contractor-sub">
                                        {{material.supplier.address}}
                                    </h4>
                                    <h4 class="contractor-sub">
                                        {{material.supplier.city}}, {{material.supplier.state}} &nbsp;{{material.supplier.zip}}
                                    </h4>
                                    <h4>
                                        <button ion-button icon-left clear medium
                                                class="call-contractor"
                                                (click)="callPhone(material.supplier.phone)">
                                            <span class="contractor-phone">Office: </span> <span
                                                class="contractor-underline">{{material.supplier.phone}}</span>
                                        </button>
                                    </h4>
                                </ion-item>
                            </ion-list>
                        </ion-card-content>
                        <div class="more-back">
                            <ion-row>
                                <ion-col>
                                    <button ion-button icon-left clear medium
                                            (click)="showDrivingDirections(material.supplier.lat, material.supplier.lon)">
                                        <ion-icon name="navigate"></ion-icon>
                                        Get Directions
                                    </button>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                </div>

                <div *ngIf="currentTask.job_tasks.task_materials?.length === 0">
                    <ion-card-content class="task-card-content crew-font">
                        No Materials
                    </ion-card-content>
                </div>

            </ion-card>

            <ion-card class="mar-bot75">
                <ion-card-header class="task-card-header">
                    Additional Options
                </ion-card-header>
                <ion-card-content padding>

                    <ion-row>

                        <button class="home-btn" ion-button icon-left block color="secondary"
                                (click)="openNextDayTasks()">
                            See Upcoming Tasks
                        </button>

                    </ion-row>

                    <!--<ion-row>-->

                        <!--<button class="home-btn" ion-button icon-left block color="secondary"-->
                                <!--(click)="checkUpdates()">-->
                            <!--Load New Version-->
                        <!--</button>-->

                    <!--</ion-row>-->

                    <div *ngIf="userRole === 1 || userRole === 2 || userRole === 4 && showTasks && !isLessor">

                        <ion-row padding-top>

                            <button class="home-btn" ion-button icon-left block color="secondary"
                                    (click)="openInAppBrowser()">
                                Open Management App
                            </button>
                        </ion-row>
                    </div>
                </ion-card-content>
            </ion-card>


        </div>
    </div>
</ion-content>

<ion-content footer *ngIf="userRole === 6">
    <div class="pad-bot18">
        <div *ngIf="showTasks">
            <ion-card class="card-border pad-bot20 mar-top25"
                      *ngFor="let date of laborerTasks.data | keys ; let i = index">
                <ion-card-header class="task-card-header">
                    <div bold class="head-font" text-center *ngIf="laborerTasks.data[date].length === 1">
                        {{date | date:'mediumDate' }}: {{laborerTasks.data[date].length}} TASK
                    </div>
                    <div bold class="head-font" text-center *ngIf="laborerTasks.data[date].length > 1">
                        {{date | date:'mediumDate' }}: {{laborerTasks.data[date].length}} TASKS
                    </div>
                </ion-card-header>
                <ion-card-content>
                    <div *ngFor="let task of laborerTasks.data[date]; let j = index">
                        <div class="card-width">

                            <ion-grid class="task-button">
                                <ion-row (click)="expandTask(task.id, j)">
                                    <ion-col class="accept-icon" width-10 *ngIf="task.status_id === 3">
                                        <ion-icon name="fa-check"></ion-icon>
                                    </ion-col>
                                    <ion-col class="accept-icon" width-10 *ngIf="task.status_id === 8">
                                        <ion-icon name="fa-times"></ion-icon>
                                    </ion-col>
                                    <ion-col class="accept-icon" width-10 *ngIf="task.status_id === 2">
                                        <ion-icon name="fa-square-o"></ion-icon>
                                    </ion-col>
                                    <ion-col class="task-text" text-left
                                             *ngIf="j === 0 && (expandTaskId !== task.id || taskId !== j)" width-50>
                                        {{task.job_name}}
                                    </ion-col>
                                    <ion-col class="task-text" text-left
                                             *ngIf="j > 0 && (expandTaskId !== task.id || taskId !== j)" width-50>
                                        {{task.job_name}}
                                    </ion-col>
                                    <ion-col class="task-text" text-left
                                             *ngIf="j === 0 && (expandTaskId === task.id && taskId === j)" width-80>
                                        Hide Details
                                    </ion-col>
                                    <ion-col class="task-text" text-left
                                             *ngIf="j > 0 && (expandTaskId === task.id && taskId === j)" width-80>
                                        Hide Details
                                    </ion-col>
                                    <ion-col text-right width-30 class="newTime"
                                             *ngIf="expandTaskId !== task.id || taskId !== j">
                                        <span *ngIf="isIos">{{adjustTime(task.updatedTime) }}</span>
                                        <span *ngIf="!isIos">{{task.updatedTime | date:'shortTime'}}</span>
                                    </ion-col>
                                    <ion-col class="task-icon" width-10>
                                        <ion-icon *ngIf="expandTaskId !== task.id && taskId !== j"
                                                  name="fa-chevron-circle-right"></ion-icon>
                                        <ion-icon *ngIf="expandTaskId === task.id && taskId === j"
                                                  name="fa-chevron-circle-down"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>


                            <div class="mar-top25 next-space" *ngIf="expandTaskId === task.id && taskId === j">
                                <ion-card class="card-border">
                                    <ion-card-header class="task-card-header card-pad">
                                        Project Details
                                    </ion-card-header>


                                    <ion-card-content class="task-card-content">
                                        <ion-list no-padding>
                                            <ion-item no-padding>
                                                <h4 class="project-name">
                                                    {{task.job_name}}
                                                </h4>
                                                <h4 class="contractor-main">Address:</h4>
                                                <h4 class="contractor-sub">
                                                    {{task.address}}
                                                </h4>
                                                <h4 class="contractor-sub">
                                                    {{task.city}}, {{task.state}} {{task.zip}}
                                                </h4>
                                            </ion-item>
                                        </ion-list>


                                        <ion-list no-padding text-wrap [@expandCollapse]="divState">
                                            <ion-item no-padding text-wrap [@expandCollapse]="divState">
                                                <h4 [@expandCollapse]="divState" class="contractor-main">
                                                    Contractor:</h4>
                                                <h4 [@expandCollapse]="divState" class="contractor-sub">
                                                    {{task.contractor[0].name}}
                                                </h4>
                                                <h4 [@expandCollapse]="divState">
                                                    <button [@expandCollapse]="divState" ion-button icon-left clear
                                                            medium
                                                            class="call-contractor"
                                                            (click)="callPhone(task.contractor[0].office_phone)">
                                                        <span [@expandCollapse]="divState" class="contractor-phone">Office: </span>
                                                        <span [@expandCollapse]="divState"
                                                              class="contractor-underline">{{task.contractor[0].office_phone}}</span>
                                                    </button>
                                                </h4>

                                            </ion-item>
                                        </ion-list>
                                    </ion-card-content>

                                    <div no-padding class="more-back">
                                        <ion-row>
                                            <ion-col>
                                                <button ion-button icon-left clear medium
                                                        (click)="toggleDivState()">
                                                    {{divState == 'collapse' ? 'More' : 'Less'}}...
                                                </button>
                                            </ion-col>
                                            <ion-col>
                                                <button ion-button icon-left clear medium
                                                        (click)="showDrivingDirections(task.lat, task.lon)">
                                                    <ion-icon name="navigate"></ion-icon>
                                                    Get Directions
                                                </button>
                                            </ion-col>
                                        </ion-row>
                                    </div>
                                </ion-card>

                                <ion-card class="card-border">
                                    <ion-card-header class="task-card-header card-pad">
                                        Task Details
                                    </ion-card-header>
                                    <ion-card-content>
                                        <div class="task-card-content">
                                            <ion-list no-padding text-wrap>
                                                <ion-item no-padding text-wrap>
                                                    <h4 class="text-info capitalize">
                                                        {{task.task_description}}</h4>
                                                    <h5 class="s-time">
                                                        <span *ngIf="isIos">Start Time: {{adjustTime(task.updatedTime) }}</span>
                                                        <span *ngIf="!isIos">Start Time: {{task.updatedTime | date:'shortTime'}}</span>
                                                    </h5>

                                                </ion-item>
                                            </ion-list>
                                        </div>
                                    </ion-card-content>
                                </ion-card>

                                <ion-card class="card-border">
                                    <ion-card-header class="task-card-header card-pad">
                                        Foreman
                                    </ion-card-header>
                                    <ion-card-content>
                                        <div class="task-card-content">

                                            <ion-row *ngFor="let crewMember of task.task_crew; let k = index">
                                                <ion-col class="margin-left-crew" *ngIf="crewMember.is_foreman === 1">
                                                    <h4 class="crew-font">{{crewMember.first_name}}
                                                        {{crewMember.last_name}} </h4>
                                                    <p class="crew-phone">
                                                        <button ion-button icon-left clear medium
                                                                class="phoneNum2"
                                                                (click)="callPhone(crewMember.phone)">
                                                            {{crewMember.phone}}
                                                        </button>
                                                    </p>
                                                </ion-col>

                                            </ion-row>


                                            <div *ngIf="task.task_crew.length === 0">No Foreman Has Been Assigned</div>
                                        </div>
                                    </ion-card-content>
                                </ion-card>

                                <ion-card class="laborer-action">
                                    <ion-card-header class="task-card-header action-button">

                                        <ion-row>
                                            <ion-col width-50>
                                                <button class="btn-shadow" ion-button icon-left block
                                                        color="secondary"
                                                        (click)="setLaborerStatus(3, laborerTasks.data[date][j].id, date, j)"
                                                        *ngIf="task.status_id === 2 || task.status_id === 8">
                                                    <ion-icon name="fa-thumbs-o-up"></ion-icon>
                                                    Accept
                                                </button>
                                                <button class="btn-shadow" disabled ion-button icon-left block
                                                        color="secondary"
                                                        *ngIf="task.status_id === 3">
                                                    <ion-icon name="fa-thumbs-o-up"></ion-icon>
                                                    Accepted
                                                </button>

                                            </ion-col>
                                            <ion-col width-50>
                                                <button class="btn-shadow" ion-button icon-left block
                                                        color="danger"
                                                        (click)="openLaborerRejectModal(8, task.id, date, j)"
                                                        *ngIf="task.status_id === 2 || task.status_id === 3">
                                                    <ion-icon name="fa-thumbs-o-down"></ion-icon>
                                                    Reject
                                                </button>
                                                <button class="btn-shadow" disabled ion-button icon-left block
                                                        color="danger"
                                                        *ngIf="task.status_id === 8">
                                                    <ion-icon name="fa-thumbs-o-down"></ion-icon>
                                                    Rejected
                                                </button>
                                            </ion-col>
                                        </ion-row>

                                    </ion-card-header>
                                </ion-card>
                            </div>
                        </div>
                    </div>
                </ion-card-content>

            </ion-card>


            <ion-card class="mar-bot75">
                <ion-card-header class="task-card-header">
                    Additional Options
                </ion-card-header>
                <ion-card-content>

                    <ion-row>

                        <button class="home-btn" ion-button icon-left block color="secondary"
                                (click)="openNextDayTasks()">
                            See Upcoming Tasks
                        </button>

                    </ion-row>
                </ion-card-content>
            </ion-card>


        </div>
    </div>
</ion-content>


<ion-footer *ngIf="userRole !== 6">

    <ion-grid
            *ngIf="timecardStatus === 0 && currentTask && (currentTask.job_tasks.status_id === 2 || currentTask.job_tasks.status_id === 3) && !isLessor">
        <ion-row>
            <ion-col width-50>
                <button class="btn-shadow" ion-button icon-left block color="secondary" (click)="setStatus(3)"
                        *ngIf="currentTask && currentTask.job_tasks.status_id === 2">
                    <ion-icon name="fa-thumbs-o-up"></ion-icon>
                    Accept
                </button>
                <button class="btn-shadow" ion-button icon-left block color="secondary"
                        (click)="setStatus(4, '', true)" [disabled]="disableStart()"
                        *ngIf="currentTask && currentTask.job_tasks.status_id === 3">
                    <ion-icon name="fa-thumbs-o-up"></ion-icon>
                    Start Task
                </button>
            </ion-col>

            <ion-col width-50>
                <button class="btn-shadow" ion-button icon-left block color="danger" (click)="openRejectModal()"
                        *ngIf="(currentTask && currentTask.job_tasks.status_id === 2) || (currentTask && currentTask.job_tasks.status_id === 3)">
                    <ion-icon name="fa-thumbs-o-down"></ion-icon>
                    Reject
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="timecardStatus === 1">
        <ion-grid>
            <ion-row>
                <ion-col width-50>
                    <button class="btn-shadow" ion-button icon-left block color="secondary" (click)="setStatus(3)"
                            *ngIf="currentTask && currentTask.job_tasks.status_id === 2">
                        <ion-icon name="fa-thumbs-o-up"></ion-icon>
                        Accept
                    </button>
                    <button class="btn-shadow" ion-button icon-left block color="secondary"
                            (click)="setStatus(4, '', true)"
                            *ngIf="currentTask && currentTask.job_tasks.status_id === 3">
                        <ion-icon name="fa-thumbs-o-up"></ion-icon>
                        Start Task
                    </button>
                    <button class="btn-shadow" ion-button icon-left block color="secondary"
                            (click)="setStatus(4,  '', true)"
                            *ngIf="currentTask && (currentTask.job_tasks.status_id === 5 || currentTask.job_tasks.status_id === 6 || currentTask.job_tasks.status_id === 7 )">
                        <ion-icon name="fa-thumbs-o-up"></ion-icon>
                        Resume Task
                    </button>
                    <button class="btn-shadow" ion-button icon-left block color="secondary" (click)="openCompletePage()"
                            *ngIf="currentTask && currentTask.job_tasks.status_id === 4">
                        <ion-icon name="checkbox-outline"></ion-icon>
                        Complete Task
                    </button>
                </ion-col>
                <ion-col width-50>
                    <button class="btn-shadow" ion-button icon-left block color="danger" (click)="openRejectModal()"
                            *ngIf="currentTask && currentTask.job_tasks.status_id === 2 || currentTask && currentTask.job_tasks.status_id === 3">
                        <ion-icon name="fa-thumbs-o-down"></ion-icon>
                        Reject
                    </button>
                    <button class="btn-shadow" ion-button icon-left block color="warning" (click)="openFeedbackModal()"
                            *ngIf="currentTask && currentTask.job_tasks.status_id >= 4">
                        <ion-icon name="fa-chatbubble"></ion-icon>
                        <span class="hide-task">Task Options</span>
                        <span class="show-task">Options</span>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="isLessor">
        <ion-grid>
            <ion-row>
                <ion-col width-50>
                    <button class="btn-shadow" ion-button icon-left block color="secondary" (click)="setStatus(3)"
                            *ngIf="currentTask && currentTask.job_tasks.status_id === 2">
                        <ion-icon name="fa-thumbs-o-up"></ion-icon>
                        Accept
                    </button>
                    <button class="btn-shadow" ion-button icon-left block color="secondary"
                            (click)="setStatus(4, '', true)"
                            *ngIf="currentTask && currentTask.job_tasks.status_id === 3">
                        <ion-icon name="fa-thumbs-o-up"></ion-icon>
                        Start Task
                    </button>
                    <button class="btn-shadow" ion-button icon-left block color="secondary" (click)="setStatus(4)"
                            *ngIf="currentTask && (currentTask.job_tasks.status_id === 5 || currentTask.job_tasks.status_id === 6 || currentTask.job_tasks.status_id === 7 )">
                        <ion-icon name="fa-thumbs-o-up"></ion-icon>
                        Resume Task
                    </button>
                    <button class="btn-shadow" ion-button icon-left block color="secondary" (click)="openCompletePage()"
                            *ngIf="currentTask && currentTask.job_tasks.status_id === 4">
                        <ion-icon name="checkbox-outline"></ion-icon>
                        Complete Task
                    </button>
                </ion-col>
                <ion-col width-50>
                    <button class="btn-shadow" ion-button icon-left block color="danger" (click)="openRejectModal()"
                            *ngIf="currentTask && currentTask.job_tasks.status_id === 2">
                        <ion-icon name="fa-thumbs-o-down"></ion-icon>
                        Reject
                    </button>
                    <button class="btn-shadow" ion-button icon-left block color="warning" (click)="openFeedbackModal()"
                            *ngIf="currentTask && currentTask.job_tasks.status_id >= 3">
                        <ion-icon name="fa-chatbubble"></ion-icon>
                        <span class="hide-task">Task Options</span>
                        <span class="show-task">Options</span>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-footer>

<div *ngIf="!isIos && !isLessor">
    <div ion-fixed class="fs-no-results-container" *ngIf="showTasks === false">
        <div class="content">
            <div class="fs-no-results-msg">You Do Not Have<br/>A Current Task</div>
            <div class="button-container">
                <button class="home-btn" ion-button icon-right block color="secondary" (click)="setCurrentTask(true)">
                    CHECK FOR NEW TASKS
                </button>
            </div>
            <div class="button-container">
                <button class="home-btn" ion-button icon-right block color="secondary" (click)="openNextDayTasks()">
                    SEE UPCOMING TASKS
                </button>
            </div>
            <div class="button-container" *ngIf="userRole === 1 || userRole === 2 || userRole === 4 && !isLessor">
                <button class="home-btn" ion-button icon-left block color="secondary" (click)="openInAppBrowser()">
                    OPEN MANAGEMENT APP
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isIos  && !isLessor">
    <div ion-fixed class="fs-no-results-container-ios" *ngIf="showTasks === false">
        <div class="content">
            <div class="fs-no-results-msg">You Do Not Have<br/>A Current Task</div>
            <div class="button-container">
                <button class="home-btn" ion-button icon-right block color="secondary" (click)="setCurrentTask(true)">
                    CHECK FOR NEW TASKS
                </button>
            </div>
            <div class="button-container">
                <button class="home-btn" ion-button icon-right block color="secondary" (click)="openNextDayTasks()">
                    SEE UPCOMING TASKS
                </button>
            </div>
            <div class="button-container" *ngIf="userRole === 1 || userRole === 2 || userRole === 4 && !isLessor">
                <button class="home-btn" ion-button icon-left block color="secondary" (click)="openInAppBrowser()">
                    OPEN MANAGEMENT APP
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isIos && isLessor">
    <div ion-fixed class="fs-no-results-container-lessor" *ngIf="showTasks === false">
        <div class="content">
            <div class="fs-no-results-msg">You Do Not Have<br/>A Current Task</div>
            <div class="button-container">
                <button class="home-btn" ion-button icon-right block color="secondary" (click)="setCurrentTask(true)">
                    CHECK FOR NEW TASKS
                </button>
            </div>
            <div class="button-container">
                <button class="home-btn" ion-button icon-right block color="secondary" (click)="openNextDayTasks()">
                    SEE UPCOMING TASKS
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isIos  && isLessor">
    <div ion-fixed class="fs-no-results-container-ios-lessor" *ngIf="showTasks === false">
        <div class="content">
            <div class="fs-no-results-msg">You Do Not Have<br/>A Current Task</div>
            <div class="button-container">
                <button class="home-btn" ion-button icon-right block color="secondary" (click)="setCurrentTask(true)">
                    CHECK FOR NEW TASKS
                </button>
            </div>
            <div class="button-container">
                <button class="home-btn" ion-button icon-right block color="secondary" (click)="openNextDayTasks()">
                    SEE UPCOMING TASKS
                </button>
            </div>
        </div>
    </div>
</div>

