page-timecard {
  .list-md {
    margin-top: 1px;
  }

  .btn-margin {
    margin-left: 9px;
  }

  .task-card-header {
    font-size: 1.8rem;
  }

  .first-list {
    margin-left: -11px;
  }

  .notes > .item-inner {
    border-bottom-color: #3F51B5;
  }

  .notes {
    padding-right: 8px;
    padding-left: 19px;
  }

  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #3F51B5;
    -webkit-box-shadow: inset 0 -1px 0 0 #3F51B5;
    box-shadow: inset 0 -1px 0 0 #3F51B5;
  }

  .item-md.item-input.ng-untouched .item-inner {
    border-bottom-color: #999;
    -webkit-box-shadow: inset 0 -1px 0 0 #999;
    box-shadow: inset 0 -1px 0 0 #999;
  }


  .mar0 > input {
    margin-left: 2px;
  }

  .l {
    border-bottom: none;
  }

  .o {
    padding-left: 0;
    background-color: #d9534f;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 99%;
  }

  .o > .item-inner {
    background-color: white;
    margin-left: 15px;
    padding-left: 3px;
  }

  .e {
    padding-left: 0;
    background-color: #57AD57;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 99%;
  }

  .e > .item-inner {
    background-color: white;
    margin-left: 15px;
    padding-left: 3px;
  }

  .o {
    padding-left: 0;
    background-color: #d9534f;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 14px;
  }

  .o > .item-inner {
    background-color: white;
    margin-left: 12px;
    padding-left: 3px;
  }

  .e {
    padding-left: 0;
    background-color: #57AD57;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 14px;
  }

  .e > .item-inner {
    background-color: white;
    margin-left: 12px;
    padding-left: 3px;
  }

  .first {
    margin-top: 10px;
  }

  .noEntries {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: bold;
  }
}
