page-timecard {
    .list-md {
        margin-top: 1px;
    }

    .list-ios {
        margin-top: 1px;
    }

    .btn-margin {
        margin-left: 9px;
    }

    .task-card-header {
        font-size: 2.5rem;
    }

    .first-list {
        margin-left: -11px;
    }

    .notes > .item-inner {
        border-bottom-color: #3F51B5;
    }

    .notes {
        padding-left: 0;
        padding-top: 10px;
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #3F51B5;
        -webkit-box-shadow: inset 0 -1px 0 0 #3F51B5;
        box-shadow: inset 0 -1px 0 0 #3F51B5;
    }

    .item-md.item-input.ng-untouched .item-inner {
        border-bottom-color: #999;
        -webkit-box-shadow: inset 0 -1px 0 0 #999;
        box-shadow: inset 0 -1px 0 0 #999;
    }

    .noEntries {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 1.7rem;
        font-weight: bold;
    }

    .current-status {
        position: relative;
        height: 21px;
    }

    .previous-entry {
        background-color: white;
        width: 12px;
        height: 27px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .status-clock-out {
        background-color: #d9534f;
        width: 12px;
        height: 27px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .status-clock-in {
        background-color: #57AD57;
        width: 12px;
        height: 27px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }
    .card-width {
        margin-left: -3px;
    }
    .task-button {
        padding-left: 0;
    }

    .task-text {
        top: 0;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 400;
        color: black;
    }
    .datetime-text {
        font-size: 1.8rem;
        text-align: left;
        line-height: inherit;
    }
    .datetime-md {
        padding: 0;
    }

    .datetime-ios {
        padding: 0;
    }

    .text-input-md {
        margin-left: 0;
        margin-top: 0;
    }

    .text-input-ios {
        margin-left: 0;
        margin-top: 0;
    }

    ion-col[width-40] {
        padding-top: 0;
        padding-bottom: 0;
    }

    .prev-entry-text {
        font-size: 1.7rem;
        color: gray;
    }

    .edit-label {
        margin: 0;
        text-align: right;
        position: relative;
        top: 7px;
    }

    .edit-label.label.label-ios {
        top: 5px;
    }

    .rel-datetime {
        position: relative;
        top: -19px;

    }

    .button-small {
        margin: 0;
    }

    .item-cover {
        width: 140%;
    }

    .edit-container {
        position: absolute;
        width: 99px;
        right: 0;
        top: -2px;
    }

    .input-md[clearInput] .text-input {
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 0 !important;
    }

    .input-ios[clearInput] .text-input {
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 0 !important;
    }

    .text-input {
        width: 100% !important;
    }

    .height-20 {
        height: 20px !important;
    }

    .height-40 {
        height: 40px !important;
    }

    .height-60 {
        height: 60px !important;
    }

    .notes-label {
        margin: 0 0 5px 0;
        font-size: 13px;
        color: blue;
    }

    .pad-left-2 {
        padding-left: 2px;
    }

    .pad-right-2 {
        padding-right: 2px;
    }

    .pad-top-3 {
        padding-top: 3px;
    }


}
