<ion-header>
    <ion-navbar>
        <ion-row *ngIf="isIos">
            <ion-col width-75>
                <div text-center>
                    <div class="ios-title">
                        Timecard
                    </div>
                </div>
            </ion-col>
            <ion-col width-25>
                <ion-buttons class="mar-right6" end>
                    <button class="refresh" ion-button round icon-right color="secondary" (click)="loadTodaysTime()">
                        Refresh
                        <ion-icon class="logout-hide" name="refresh"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!isIos">
            <ion-title>Timecard</ion-title>
            <ion-buttons class="mar-right6" end>
                <button class="refresh" ion-button round icon-right color="secondary" (click)="loadTodaysTime()">
                    Refresh
                    <ion-icon name="refresh"></ion-icon>
                </button>
            </ion-buttons>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>

    <!--Today's Timecard-->

    <ion-card class="card-border">


        <ion-card-header class="task-card-header">
            Today's Timecard
        </ion-card-header>


        <ion-card-content *ngIf="noEntry">
            <h3 class="noEntries">No Current Timecard Entries</h3>
        </ion-card-content>

        <ion-card-content *ngIf="!noEntry">
            <div *ngFor="let time of todaysTime; let j = index">
                <div padding-top>

                    <ion-row>
                        <ion-col no-padding *ngIf="time.status === 0" width-5
                                 class="current-status ">
                            <div class="status-clock-out"></div>
                        </ion-col>
                        <ion-col no-padding *ngIf="time.status === 1" width-5
                                 class="current-status">
                            <div class="status-clock-in"></div>
                        </ion-col>
                        <ion-col class="task-text" text-left width-55>
                            <span *ngIf="time.status === 0">Clocked Out</span>
                            <span *ngIf="time.status === 1">Clocked In</span>
                        </ion-col>
                        <ion-col width-40>
                            <div class="edit-container">


                                <ion-label class="edit-label">
                                    <ion-icon name="fa-edit"></ion-icon>
                                </ion-label>

                                <ion-datetime class="rel-datetime" displayFormat="h:mm A" pickerFormat="h mm A"
                                              [(ngModel)]="todaysTime[j].alt_timestamp">
                                </ion-datetime>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="todaysTime[j].alt_timestamp !== todaysTime[j].timestamp">
                        <ion-col no-padding width-5
                                 class="current-status ">
                            <div class="previous-entry"></div>
                        </ion-col>
                        <ion-col class="task-text prev-entry-text" text-left width-55>
                            Previous Entry
                        </ion-col>
                        <ion-col class="task-text prev-entry-text" text-right width-40 text-uppercase>
                            {{todaysTime[j].strTime}}
                        </ion-col>

                    </ion-row>
                    <ion-row>
                        <ion-col class="notes">

                                <ion-label class="notes-label" *ngIf="todaysTime[j].notes.length > 0">Tap notes to edit</ion-label>

                                <ion-textarea class="mar0"
                                              [ngClass]="{'height-20': todaysTime[j].notes.length < 38}"
                                              [(ngModel)]="todaysTime[j].notes"
                                              placeholder="Tap here to add notes"
                                              clearInput></ion-textarea>


                        </ion-col>
                    </ion-row>
                    <ion-row
                        *ngIf="todaysTime[j].alt_timestamp !== todaysTime[j].timestamp || todaysTime[j].originalNotes !== todaysTime[j].notes">
                        <ion-col width-50 no-padding>
                            <ion-buttons>
                                <button ion-button block color="danger" small
                                        (click)="loadTodaysTime()">
                                    Discard Changes
                                </button>
                            </ion-buttons>
                        </ion-col>
                        <ion-col width-50 no-padding>
                            <ion-buttons
                                *ngIf="todaysTime[j].alt_timestamp !== todaysTime[j].timestamp || todaysTime[j].originalNotes !== todaysTime[j].notes">
                                <button ion-button block color="secondary" small
                                        (click)="updateTodaysTimecard(todaysTime[j].id, todaysTime[j].alt_timestamp, j, todaysTime[j].notes)">
                                    Save Changes
                                </button>
                            </ion-buttons>
                        </ion-col>
                    </ion-row>

                </div>
            </div>
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-header>
            <ion-buttons text-center>
                <button color="secondary" ion-button block icon-left
                        (click)="goToSearch()">
                    Search Timecard Entries
                </button>
            </ion-buttons>
        </ion-card-header>
    </ion-card>
</ion-content>
