// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  /*primary:   #387ef5,*/
        primary: #3F51B5,
  /*secondary: #32db64,*/
        secondary: #57AD57,
        info: #5bc0de,
  /*danger:    #f53d3d,*/
        danger: #d9534f,
        warning: orange,
        light: #f4f4f4,
        dark: #222,
        on-hold: (
                base: #D90000,
                contrast: #ffffff
        ),
        started: (
                base: #36FF00,
                contrast: #ffffff
        ),
        complete: (
                base: #397F26,
                contrast: #ffffff
        ),
        accepted: (
                base: #FF9700,
                contrast: #ffffff
        ),
        timecard: (
                base: #3F51B5,
                contrast: #ffffff
        ),
        cancel: (
                base: #434343,
                contrast: #ffffff
        ),

);

$loading-md-max-width: 100vw;
$loading-md-max-height: 100vh;
$loading-ios-max-width: 100vw;
$loading-ios-max-height: 100vh;

$toolbar-background: #333;

$tabs-background: #333;
$tabs-tab-color-active: #FFF;
$tabs-tab-color-inactive: #999;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$alert-md-border-radius: 7px;
$alert-md-title-font-size: 24px;
$alert-md-message-font-size: 18px;
$alert-md-message-padding-top: 2px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Font Awesome
$fa-font-path: $font-path;
@import "font-awesome";
