<ion-header>
    <ion-navbar>
        <ion-row *ngIf="isIos">
            <ion-col width-50>
                <div text-center>
                    <div class="ios-title">
                        History
                    </div>
                </div>
            </ion-col>
            <ion-col width-25>
                <ion-buttons class="mar-right6" end>
                    <button class="refresh" ion-button round icon-right color="secondary" (click)="loadHistory()">
                        Refresh
                        <ion-icon class="logout-hide" name="refresh"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!isIos">
            <ion-title>History</ion-title>
            <ion-buttons class="mar-right6" end>
                <button class="refresh" ion-button round icon-right color="secondary" (click)="loadHistory()"> Refresh
                    <ion-icon name="refresh"></ion-icon>
                </button>
            </ion-buttons>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="hasPaused">
        <div *ngFor="let task of pausedTasks; let a = index">
            <ion-card *ngIf="task.job_tasks.length > 0">
                <ion-card-header text-wrap class="task-card-header header-proj">
                    {{task.job_name}}
                </ion-card-header>

                <ion-card-content *ngIf="pausedContractorDetails.proj === a">
                    <div class="task-card-content">
                        <ion-list no-padding>
                            <ion-item no-padding>
                                <h4 class="contractor-main">Project Address:</h4>
                                <h4 class="contractor-sub">
                                    {{task.address}}
                                </h4>
                                <h4 class="contractor-sub">
                                    {{task.city}}, {{task.state}}&nbsp;{{task.zip}}
                                </h4>
                            </ion-item>
                        </ion-list>
                    </div>
                    <div class="mar-bot25">
                        <ion-list no-padding text-wrap>
                            <ion-item no-padding text-wrap>
                                <h4 class="contractor-main">Contractor:</h4>
                                <h4 class="contractor-sub">
                                    {{task.contractor[0].name}}
                                </h4>
                                <h4>
                                    <button ion-button icon-left clear medium
                                            class="call-contractor"
                                            (click)="callPhone(task.contractor[0].office_phone)">
                                        <span class="contractor-phone">Office: </span> <span
                                            class="contractor-underline">{{task.contractor[0].office_phone}}</span>
                                    </button>
                                </h4>

                            </ion-item>
                        </ion-list>
                    </div>
                </ion-card-content>

                <div no-padding class="more-back move-up">
                    <ion-row>
                        <ion-col>
                            <button class="more-left" ion-button icon-left clear medium
                                    (click)="toggleDivStatePaused(a)">
                                <span *ngIf="pausedContractorDetails.proj !== a">More ...</span>
                                <span *ngIf="pausedContractorDetails.proj === a">Less ...</span>
                            </button>
                        </ion-col>
                        <ion-col text-right>
                            <button class="pad8" ion-button icon-left clear medium
                                    (click)="showDrivingDirections(task.lat, task.lon)">
                                <ion-icon name="navigate"></ion-icon>
                                Get Directions
                            </button>
                        </ion-col>
                    </ion-row>
                </div>

                <div *ngFor="let jobTasks of task.job_tasks; let b = index">
                    <ion-card-content tappable (click)="expandPausedTask(a, b)">
                        <div class="task-card-content">
                            <h3 class="text-info">{{b + 1}}: {{jobTasks.task_description}} </h3>
                            <h4 class="date-info mar-top10">Date: {{jobTasks.strDate}}</h4>
                            <div *ngIf="jobTasks.additional_notes?.length > 0">
                                <h5 class="text-info">Additional Task Notes</h5>
                                <ul class="add-ul" *ngFor="let newNotes of jobTasks.additional_notes; let u = index">
                                    <li class="more-notes">{{newNotes.notes}}</li>
                                    <li class="notes-by">Added By: <strong>{{newNotes.employee.first_name}}
                                        {{newNotes.employee.last_name}}</strong> at <strong>
                                        {{newNotes.strTime}}
                                    </strong></li>
                                </ul>
                            </div>
                        </div>

                        <ion-row>
                            <ion-col margin-bottom>
                                <button class="details" ion-button icon-left clear small>
                                    <ion-icon name="fa-chevron-circle-right"></ion-icon>
                                    <span>More Details</span>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>

                    <div padding class="more-back move-up">
                        <ion-row>
                            <button class="btn-shadow" ion-button icon-left block color="secondary"
                                    (click)="resumeTask(a,b)">
                                Resume Task
                            </button>
                        </ion-row>
                    </div>
                </div>
            </ion-card>
        </div>
    </div>

    <div *ngIf="history">
        <ion-card *ngFor="let task of history.data; let i = index">
            <ion-card-header text-wrap class="task-card-header header-proj">
                {{task.job_name}}
            </ion-card-header>

            <ion-card-content *ngIf="contractorDetails.proj === i">

                <div class="task-card-content">
                    <ion-list no-padding>
                        <ion-item no-padding>
                            <h4 class="contractor-main">Project Address:</h4>
                            <h4 class="contractor-sub">
                                {{task.address}}
                            </h4>
                            <h4 class="contractor-sub">
                                {{task.city}}, {{task.state}}&nbsp;{{task.zip}}
                            </h4>


                        </ion-item>
                    </ion-list>
                </div>
                <div class="mar-bot25">

                    <ion-list no-padding text-wrap>
                        <ion-item no-padding text-wrap>
                            <h4 class="contractor-main">Contractor:</h4>
                            <h4 class="contractor-sub">
                                {{task.contractor[0].name}}
                            </h4>
                            <h4>
                                <button ion-button icon-left clear medium
                                        class="call-contractor"
                                        (click)="callPhone(task.contractor[0].office_phone)">
                                    <span class="contractor-phone">Office: </span> <span
                                        class="contractor-underline">{{task.contractor[0].office_phone}}</span>
                                </button>
                            </h4>

                        </ion-item>
                    </ion-list>

                </div>
            </ion-card-content>

            <div no-padding class="more-back move-up">
                <ion-row>
                    <ion-col>
                        <button class="more-left" ion-button icon-left clear medium (click)="toggleDivState(i   )">
                            <span *ngIf="contractorDetails.proj !== i">More ...</span>
                            <span *ngIf="contractorDetails.proj === i">Less ...</span>
                        </button>
                    </ion-col>
                    <ion-col text-right>
                        <button class="pad8" ion-button icon-left clear medium
                                (click)="showDrivingDirections(task.lat, task.lon)">
                            <ion-icon name="navigate"></ion-icon>
                            Get Directions
                        </button>
                    </ion-col>
                </ion-row>
            </div>

            <div *ngFor="let jobTasks of task.job_tasks; let j = index">


                <ion-card-content tappable (click)="displayTask(i, j)">
                    <div class="task-card-content">


                        <h3 class="text-info">{{j + 1}}: {{jobTasks.task_description}} </h3>
                        <h4 class="date-info mar-top10">Date: {{jobTasks.strDate}}
                        </h4>
                        <div *ngIf="jobTasks.additional_notes.length > 0">
                            <h5 class="text-info">Additional Task Notes</h5>
                            <ul class="add-ul" *ngFor="let newNotes of jobTasks.additional_notes; let u = index">
                                <li class="more-notes">{{newNotes.notes}}</li>
                                <li class="notes-by">Added By: <strong>{{newNotes.employee.first_name}}
                                    {{newNotes.employee.last_name}}</strong> at <strong>
                                    {{newNotes.strTime}}
                                </strong></li>
                            </ul>
                        </div>
                    </div>

                    <ion-row>
                        <ion-col>
                            <button class="details"
                                    ion-button icon-left clear small>
                                <ion-icon name="fa-chevron-circle-right"></ion-icon>
                                <span>More Details</span>
                            </button>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </div>
        </ion-card>
    </div>

    <div *ngIf="!hasHistory && !hasPaused">
        <ion-card>
            <ion-card-header text-center class="task-card-header no-history">
                No Job History
            </ion-card-header>
        </ion-card>
    </div>


</ion-content>

