<ion-header>
    <ion-navbar *ngIf="isIos">
        <ion-row>
            <ion-col width-50>
                <div text-center>
                    <div class="ios-title">
                        Task History
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
    <ion-navbar *ngIf="!isIos">
        <ion-row>
            <ion-title>Task History</ion-title>
        </ion-row>
    </ion-navbar>

</ion-header>


<ion-content footer>

    <ion-card class="card-border">
        <ion-card-header class="task-card-header">
            Task Details
        </ion-card-header>
        <ion-card-content>
            <div class="task-card-content">
                <ion-list no-padding text-wrap>
                    <ion-item no-padding text-wrap>
                        <h4 class="text-info capitalize">
                            {{task_description}}</h4>
                        <h5 class="s-time">
                            Start Time: {{strTime}}
                        </h5>
                    </ion-item>

                    <div *ngIf="additional_notes?.length > 0">
                        <h5 class="text-info">Additional Task Notes</h5>
                        <ion-item no-padding text-wrap
                                  *ngFor="let newNotes of additional_notes; let u = index">
                            <h5 class="add_notes">{{u + 1}}: {{newNotes.notes}}</h5>
                            <h5 class="add_by">Added By: <strong>{{newNotes.employee.first_name}}
                                {{newNotes.employee.last_name}}</strong> at
                                <span>{{newNotes.strTime}}</span>
                            </h5>
                        </ion-item>
                    </div>
                </ion-list>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-border">
        <ion-card-header class="task-card-header">
            Notes
        </ion-card-header>
        <ion-card-content *ngIf="task_user_log?.length > 0">
            <div class="task-card-content">
                <div class="equip-div" *ngFor="let note of task_user_log; let l = index">
                    <h5 class="add_notes">{{l + 1}}: {{note.notes}}</h5>
                    <h5 class="add_by">Added At:
                        <span>{{note.strTime}}</span>
                    </h5>

                    <figure *ngFor="let image of note.fileData">
                        <h5 class="add_notes" text-center>Click Image To Enlarge
                            <ion-icon name="fa-chevron-circle-down"></ion-icon>
                        </h5>
                        <span (click)="reviewImage(image.file_name)">
                        <img src="{{image.file_name}}">
                        <figcaption padding-top *ngIf="image.notes !== ''">{{image.notes}}</figcaption>
                            </span>
                    </figure>

                </div>
            </div>
        </ion-card-content>

        <ion-card-content *ngIf="task_user_log?.length === 0">
            <ion-row>
                <ion-col class="open-history-feedback">

                    <button class="btn-shadow" ion-button color="primary"
                            (click)="openHistoryFeedback()">

                        <span>Leave Feedback</span>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card-content>

        <div no-padding class="background-color" *ngIf="task_user_log?.length > 0">
            <ion-row>
                <ion-col>
                    <button class="more-left" ion-button icon-left clear medium
                            (click)="openHistoryFeedback()">
                        <span>Leave Task Feedback</span>
                    </button>
                </ion-col>
            </ion-row>
        </div>

    </ion-card>

    <ion-card class="card-border">
        <ion-card-header class="task-card-header">
            Crew
        </ion-card-header>
        <ion-card-content>
            <div class="task-card-content">
                <ion-row *ngFor="let crewMember of task_crew; let j = index">
                    <ion-col class="margin-left-crew">
                        <h4 class="crew-font">{{crewMember.first_name}}
                            {{crewMember.last_name}} </h4>
                        <h4 *ngIf="crewMember.is_foreman === 1"> -- Foreman --</h4>
                        <h4 *ngIf="crewMember.is_supervisor === 1"> -- Supervisor --</h4>
                        <p class="crew-phone">
                            <button ion-button icon-left clear medium
                                    class="phoneNum2"
                                    (click)="callPhone(crewMember.phone)">
                                {{crewMember.phone}}
                            </button>
                        </p>
                    </ion-col>
                </ion-row>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-border" *ngIf="contractor_contacts?.length > 0">
        <ion-card-header class="task-card-header">
            Customer Contacts
        </ion-card-header>
        <ion-card-content class="task-card-content contacts-padding">

            <ion-list no-padding text-wrap>
                <ion-item class="contractor-label" no-padding text-wrap>
                    <h4 class="contractor-main">Customer:</h4>
                    <h4 class="contractor-sub">
                        {{contractor_name}}
                    </h4>
                    <h4>
                        <button ion-button icon-left clear medium
                                class="call-contractor"
                                (click)="callPhone(contractor_phone)">
                            <span class="contractor-phone">Office: </span> <span
                            class="contractor-underline">{{contractor_phone}}</span>
                        </button>
                    </h4>

                </ion-item>
            </ion-list>

            <ion-list no-padding text-wrap *ngFor="let contact of contractor_contacts">
                <ion-item no-padding text-wrap>
                    <h4 class="contractor-main">Customer Contacts:</h4>
                    <div class="contractor-div">
                        <h4 class="contractor-sub">
                            {{contact.first_name}} {{contact.last_name}} <span
                            *ngIf="contact.title"> - {{contact.title}}</span>
                        </h4>

                        <h4 *ngIf="contact.office_phone">
                            <button ion-button icon-left clear medium
                                    class="call-contractor"
                                    (click)="callPhone(contact.office_phone)">
                                <span class="contractor-phone">Office: </span>
                                <span class="contractor-underline">{{contact.office_phone}}</span>
                            </button>
                        </h4>
                        <h4 *ngIf="contact.cell_phone">
                            <button ion-button icon-left clear medium
                                    class="call-contractor"
                                    (click)="callPhone(contact.cell_phone)">
                                <span class="contractor-phone">Cell: </span> <span>{{contact.cell_phone}}</span>
                            </button>
                        </h4>
                    </div>
                </ion-item>
            </ion-list>

        </ion-card-content>
    </ion-card>


    <ion-card class="card-border" *ngIf="task_equipment?.length > 0">
        <ion-card-header class="task-card-header">
            Equipment
        </ion-card-header>
        <ion-card-content>
            <div class="task-card-content">
                <div class="equip-div" *ngFor="let item of task_equipment">
                    <h4 class="equip-name">{{item.equipment_name}}</h4>
                </div>
                <div class="equip-center crew-font" *ngIf="task_equipment.length === 0">
                    No Equipment Specified
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <div *ngIf="task_materials?.length > 0">
        <ion-card class="card-border">
            <ion-card-header class="task-card-header">
                Materials/Supplier
            </ion-card-header>

            <div *ngFor="let material of task_materials; last as isLast">
                <ion-card-content>
                    <h4 class="text-info">{{material.material_name}}</h4>
                    <h4 *ngIf="material.material_price !== 0" class="contractor-sub">
                        <strong>Price: </strong> ${{material.material_price}}
                    </h4>
                    <div *ngIf="(material.quantity > 0) || (material.quantity !== null && material.quantity !== 0)">
                        <h4 class="contractor-sub">
                            <strong>Quantity: </strong> {{material.quantity}}
                        </h4>
                        <h4 class="contractor-sub">
                            <strong>Units: </strong> {{material.unit}}
                        </h4>
                    </div>
                    <ion-list no-padding text-wrap *ngIf="material.supplier_id !== 0">
                        <ion-item no-padding text-wrap>
                            <h4 class="contractor-main">
                                {{material.supplier.name}}
                            </h4>
                            <h4 class="contractor-sub">
                                {{material.supplier.address}}
                            </h4>
                            <h4 class="contractor-sub">
                                {{material.supplier.city}}, {{material.supplier.state}}&nbsp;{{material.supplier.zip}}
                            </h4>
                            <h4>
                                <button ion-button icon-left clear medium
                                        class="call-contractor"
                                        (click)="callPhone(material.supplier.phone)">
                                    <span class="contractor-phone">Office: </span> <span
                                    class="contractor-underline">{{material.supplier.phone}}</span>
                                </button>
                            </h4>
                        </ion-item>
                    </ion-list>
                    <ion-row *ngIf="material.supplier_id !== 0">

                        <button class="btn-shadow" no-margin margin-bottom ion-button icon-left color="primary"
                                (click)="showDrivingDirections(material.supplier.lat, material.supplier.lon)">
                            <ion-icon name="navigate"></ion-icon>
                            Launch Navigation
                        </button>

                    </ion-row>

                </ion-card-content>

                <div class="more-back" *ngIf="!isLast">
                    <ion-row class="empty-gray">
                        <ion-col>

                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-card>
    </div>

    <div *ngIf="task_materials.length === 0">
        <ion-card class="card-border">
            <ion-card-header class="task-card-header">
                Materials/Supplier
            </ion-card-header>
            <ion-card-content class="crew-font" padding>
                No Materials Specified
            </ion-card-content>
        </ion-card>
    </div>

    <ion-card class="card-border" *ngIf="task_files.length > 0">
        <ion-card-header class="task-card-header">
            Task Images/Documents
        </ion-card-header>
        <ion-card-content class="task-card-content">
            <ion-row>
                <ion-col text-center>
                    <h5 class="add_notes" text-center>Select An Image To Enlarge</h5>
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
            <ion-row>
                <ion-col *ngFor="let file of task_files" col-6>
                    <div (click)="openAttachedImage(file)">
                        <figure>
                            <div *ngIf="file.file_type !== 'application/pdf'" class="image-container">
                                <img src="{{taskFileUrl}}{{file.file_name}}" class="image-width">
                            </div>
                            <div *ngIf="file.file_type === 'application/pdf'" class="image-container">
                                <img src="../../assets/img/pdf.png" class="image-width">
                            </div>
                            <figcaption class="image-notes" padding-top *ngIf="file.notes !== null"><u>Read
                                <span *ngIf="file.file_type !== 'application/pdf'">Image</span><span
                                    *ngIf="file.file_type === 'application/pdf'">PDF</span> Notes</u></figcaption>
                            <figcaption padding-top *ngIf="file.notes === null">No Image Notes</figcaption>
                        </figure>

                    </div>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-border" *ngIf="task_links.length > 0">
        <ion-card-header class="task-card-header">
            External Task Links
        </ion-card-header>
        <ion-card-content class="task-card-content">
            <ion-row *ngFor="let link of task_links; let b = index">
                <ion-item no-padding>
                    <h4 class="external-link" (click)="openAttachedUrl(link.url)">Link #{{b + 1}}</h4>
                    <h4 *ngIf="link.notes" class="external-notes">
                        <span class="external-notes-bold">Notes:</span>
                        {{link.notes}}
                    </h4>
                </ion-item>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>





