page-single-manage-tasks {

    .task-card-header {
        font-size: 2.5rem;
    }

    ion-footer {
        background-color: #EFEFEF;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -2px 3px 1px;
    }

    .show-all {
        display: inherit;
    }
    .show-navigation-only {
        display: none;
    }

    @media (max-width: 376px) {
        .show-all {
            display: none;
        }
        .show-navigation-only {
            display: inherit;
        }
    }
    @media (min-width: 351px) {
        .show-task {
            display: none
        }
    }

    @media (max-width: 350px) {

        .hide-task {
            display: none
        }
    }

    .status-13 {
        color: red;
        margin-bottom: 7px;
    }

    .equip-notes {
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 6px;
    }

    .taskAnim {
        position: absolute;
        top: 1px;
        animation: taskMove 2s;
        animation-iteration-count: 200;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        color: green;
        font-size: 32px;
        z-index: 100;
    }

    @keyframes taskMove {
        from {
            left: 10px;
        }
        to {
            left: 110px;
        }
    }

    @media (max-width: 475px) {
        @keyframes taskMove {
            from {
                left: 50px;
            }
            to {
                left: 130px;
            }
        }
    }

    @media (max-width: 376px) {
        @keyframes taskMove {
            from {
                left: 40px;
            }
            to {
                left: 120px;
            }
        }
    }

    @media (max-width: 346px) {
        @keyframes taskMove {
            from {
                left: 25px;
            }
            to {
                left: 105px;
            }
        }
    }

}