<ion-header>
    <ion-navbar *ngIf="isIos">
        <ion-row>
            <ion-col width-50>
                <div text-center>
                    <div class="ios-title">
                        Task Status
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
    <ion-navbar *ngIf="!isIos">
        <ion-row>
            <ion-title>Task Status</ion-title>
        </ion-row>
    </ion-navbar>

</ion-header>


<ion-content footer>

    <ion-card class="card-border">
        <ion-card-header class="task-card-header">
            Task Details
        </ion-card-header>
        <ion-card-content>
            <div class="task-card-content">
                <ion-list no-padding text-wrap>
                    <ion-item no-padding text-wrap>
                        <h4 class="text-info capitalize">
                            {{task_description}}</h4>
                        <h5 class="s-time">
                            Start Time: {{strTime}}
                        </h5>
                    </ion-item>

                    <div *ngIf="additional_notes.length > 0">
                        <h5 class="text-info">Additional Task Notes</h5>
                        <ion-item no-padding text-wrap
                                  *ngFor="let newNotes of additional_notes; let u = index">
                            <h5 class="add_notes">{{u + 1}}: {{newNotes.notes}}</h5>
                            <h5 class="add_by">Added By: <strong>{{newNotes.employee.first_name}}
                                {{newNotes.employee.last_name}}</strong> at
                                <span>{{newNotes.strTime}}</span>
                            </h5>
                        </ion-item>
                    </div>
                </ion-list>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-border">
        <ion-card-header class="task-card-header">
            Crew Status
        </ion-card-header>
        <ion-card-content>
            <div class="task-card-content">
                <ion-row *ngFor="let crewMember of task_crew; let k = index">
                    <ion-col [ngClass]="setBackground(crewMember)">
                        <h4 class="emp-font">{{k + 1}}: {{crewMember.first_name}}
                            {{crewMember.last_name}} </h4>
                        <h4 class="indent19" *ngIf="crewMember.is_foreman === 1"> --
                            Foreman
                            --</h4>
                        <h4 class="indent19" *ngIf="crewMember.is_supervisor === 1"> --
                            Supervisor
                            --</h4>
                        <p class="crew-phone">
                            <button ion-button icon-left clear medium
                                    class="foremanPhone"
                                    (click)="callPhone(crewMember.phone)">
                                {{crewMember.phone}}
                            </button>
                        </p>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 1">
                            Current
                            Status: New</h4>

                        <h4 class="job-status" *ngIf="crewMember.status_id === 2">
                            Current
                            Status: Sent</h4>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 3">
                            Current
                            Status: <span ion-text color="accepted">Accepted</span>
                        </h4>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 4">
                            Current
                            Status: <span ion-text color="started">Started</span>
                        </h4>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 5">
                            Current
                            Status: <span ion-text color="on-hold">Delayed</span>
                        </h4>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 6">
                            Current
                            Status: <span ion-text color="on-hold">On Hold</span>
                        </h4>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 7">
                            Current
                            Status: <span ion-text color="on-hold">Emergency</span>
                        </h4>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 11">
                            Current
                            Status: <span ion-text
                                          color="on-hold">Cancelled</span>
                        </h4>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 12">
                            Current
                            Status: <span ion-text
                                          color="on-hold">Temporary Hold</span>
                        </h4>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 13">
                            Current
                            Status: <span ion-text
                                          color="on-hold">Timecard Pause</span>
                        </h4>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 8">
                            Current
                            Status: <span ion-text color="on-hold">Rejected</span>
                        </h4>
                        <h4 class="job-status" *ngIf="crewMember.status_id === 9">
                            Current
                            Status: <span ion-text color="complete">Completed</span>
                        </h4>

                        <h4 class="margin-left18 link-blue"
                            *ngIf="crewMember.statusLog.length > 0"
                            (click)="detailedStatus(k)">
                            View Detailed Status History
                            <ion-icon *ngIf="detailedStats.emp !== k"
                                      name="arrow-dropright"></ion-icon>
                            <ion-icon
                                *ngIf="detailedStats.emp === k"
                                name="arrow-dropdown"></ion-icon>
                        </h4>
                        <div *ngIf="detailedStats.emp === k">
                            <div *ngFor="let status of crewMember.statusLog">
                                <h4 class="job-status"
                                    *ngIf="status.status_id === 3">
                                    <span ion-text color="accepted">Accepted</span> at
                                    {{status.strTime}}
                                    <span *ngIf="status.notes"><br>Notes: {{status.notes}}</span>
                                </h4>
                                <h4 class="job-status"
                                    *ngIf="status.status_id === 4">
                                    <span ion-text color="started">Started</span> at
                                    {{status.strTime}}
                                    <span *ngIf="status.notes"><br>Notes: {{status.notes}}</span>
                                </h4>
                                <h4 class="job-status"
                                    *ngIf="status.status_id === 5">
                                    <span ion-text color="on-hold">Delayed</span> at
                                    {{status.strTime}}
                                    <span *ngIf="status.notes"><br>Notes: {{status.notes}}</span>
                                </h4>
                                <h4 class="job-status"
                                    *ngIf="status.status_id === 6">
                                    <span ion-text color="on-hold">On Hold</span> at
                                    {{status.strTime}}
                                    <span *ngIf="status.notes"><br>Notes: {{status.notes}}</span>
                                </h4>
                                <h4 class="job-status"
                                    *ngIf="status.status_id === 7">
                                    <span ion-text color="on-hold">Emergency</span> at
                                    {{status.strTime}}
                                    <span *ngIf="status.notes"><br>Notes: {{status.notes}}</span>
                                </h4>
                                <h4 class="job-status" *ngIf="status.status_id === 12">
                                    <span ion-text color="on-hold">Temporary Hold</span> at
                                    {{status.strTime}}
                                    <span *ngIf="status.notes"><br>Notes: {{status.notes}}</span>
                                </h4>
                                <h4 class="job-status" *ngIf="status.status_id === 13">
                                    <span ion-text color="on-hold">Timecard Pause</span> at
                                    {{status.strTime}}
                                    <span *ngIf="status.notes"><br>Notes: {{status.notes}}</span>
                                </h4>
                                <h4 class="job-status"
                                    *ngIf="status.status_id === 8">
                                    <span ion-text color="on-hold">Rejected</span> at
                                    {{status.strTime}}
                                    <span *ngIf="status.notes"><br>Notes: {{status.notes}}</span>
                                </h4>
                                <h4 class="job-status"
                                    *ngIf="status.status_id === 9">
                                    <span ion-text color="complete">Completed</span> at
                                    {{status.strTime}}
                                    <span *ngIf="status.notes"><br>Notes: {{status.notes}}</span>
                                </h4>
                            </div>
                        </div>

                        <button ion-button icon-left medium class="margin-left18"
                                *ngIf="(crewMember.status_id === 5 || crewMember.status_id === 6 || crewMember.status_id === 7 || crewMember.status_id === 12) && (employeeId === -1 || employeeId !== crewMember.employee_id)"
                                (click)="loadNotes(crewMember, taskId)">
                            Check For Images
                        </button>

                        <button ion-button icon-left medium class="margin-left18"
                                *ngIf="(crewMember.status_id === 5 || crewMember.status_id === 6 || crewMember.status_id === 7 || crewMember.status_id === 12) && (employeeId === crewMember.employee_id)"
                                (click)="loadNotes(crewMember, taskId)">
                            Hide Results
                        </button>

                        <div *ngIf="(imageLength === -1) && (employeeId === crewMember.employee_id)">
                            <p class="no-images">No Images To Display</p>
                        </div>

                        <div *ngIf="employeeId === crewMember.employee_id && employeeId !== -1">
                            <div *ngFor="let note of delayNotes">
                                <div *ngFor="let image of note.images">
                                    <img class="mar-bot10" src="{{image}}">
                                </div>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
                <div *ngIf="task_crew.length === 0">No Crew Specified</div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-border" *ngIf="contractor_contacts.length > 0">
        <ion-card-header class="task-card-header">
            Contractor Information
        </ion-card-header>
        <ion-card-content>
            <div class="task-card-content">
                <ion-list no-padding text-wrap>
                    <ion-item no-padding text-wrap>
                        <h4 class="contractor-main">Contractor:</h4>
                        <h4 class="contractor-sub">
                            {{contractor_name}}
                        </h4>
                        <h4 *ngIf="contractor_phone">
                            <button ion-button icon-left clear medium
                                    class="call-contractor"
                                    (click)="callPhone(contractor_phone)">
                                <span class="contractor-phone">Office: </span> <span class="contractor-underline">{{contractor_phone}}</span>
                            </button>
                        </h4>

                    </ion-item>
                </ion-list>

                <ion-list no-padding text-wrap>
                    <ion-item no-padding text-wrap>
                        <h4 class="contractor-main">Contractor Contacts:</h4>
                        <div class="contractor-div" *ngFor="let contact of contractor_contacts; let p = index ">
                            <h4 class="contractor-sub">
                                {{contact.first_name}} {{contact.last_name}} <span *ngIf="contact.title"> - {{contact.title}}</span>
                            </h4>

                            <h4 *ngIf="contact.office_phone">
                                <button ion-button icon-left clear medium
                                        class="call-contractor"
                                        (click)="callPhone(contact.office_phone)">
                                    <span class="contractor-phone">Office: </span> <span class="contractor-underline">{{contact.office_phone}}</span>
                                </button>
                            </h4>
                            <h4 *ngIf="contact.cell_phone">
                                <button ion-button icon-left clear medium
                                        class="call-contractor"
                                        (click)="callPhone(contact.cell_phone)">
                                    <span class="contractor-phone">Cell: </span> <span class="contractor-underline">{{contact.cell_phone}}</span>
                                </button>
                            </h4>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-border" *ngIf="role_id !== 6">
        <ion-card-header class="task-card-header">
            Equipment
        </ion-card-header>
        <ion-card-content>
            <div class="task-card-content">
                <div class="equip-div" *ngFor="let item of task_equipment">
                    <h4 class="equip-name">{{item.equipment_name}}</h4>
                    <h4 class="equip-assig" *ngIf="item.employee_id === 0">Assigned
                        Employee: <span class="equip-bold">Unassigned</span>
                    </h4>
                    <h4 class="equip-assig" *ngIf="item.employee_id !== 0">Assigned
                        Employee: <span
                            class="equip-bold">{{getEmployeeName(task_crew, item)}}</span>
                    </h4>
                </div>
                <div class="equip-center crew-font" *ngIf="task_equipment.length === 0">
                    No Equipment Specified
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="card-border">
        <ion-card-header class="task-card-header">
            Materials/Supplier
        </ion-card-header>
        <div *ngIf="task_materials.length > 0">
            <div *ngFor="let material of task_materials; let m = index">
                <ion-card-content class="task-card-content material-padding">
                    <h3 class="text-info">{{material.material_name}}</h3>

                    <h4 *ngIf="material.material_price !== 0" class="contractor-sub">
                        <strong>Price: </strong> ${{material.material_price}}
                    </h4>
                    <div *ngIf="(material.quantity > 0) || (material.quantity !== null && material.quantity !== 0)">
                        <h4 class="contractor-sub">
                            <strong>Quantity: </strong> {{material.quantity}}
                        </h4>
                        <h4 class="contractor-sub">
                            <strong>Units: </strong> {{material.unit}}
                        </h4>
                    </div>

                    <ion-list no-padding text-wrap *ngIf="material.supplier_id !== 0">
                        <ion-item no-padding text-wrap>
                            <h4 class="contractor-main">
                                {{material.supplier.name}}
                            </h4>
                            <h4 class="contractor-sub">
                                {{material.supplier.address}}
                            </h4>
                            <h4 class="contractor-sub">
                                {{material.supplier.city}}, {{material.supplier.state}} &nbsp;{{material.supplier.zip}}
                            </h4>

                            <h4>
                                <button ion-button icon-left clear medium
                                        class="call-contractor"
                                        (click)="callPhone(material.supplier.phone)">
                                    <span class="contractor-phone">Office: </span> <span
                                    class="contractor-underline">{{material.supplier.phone}}</span>
                                </button>
                            </h4>


                        </ion-item>
                    </ion-list>
                </ion-card-content>
                <div class="more-back" *ngIf="material.supplier_id !== 0">
                    <ion-row>
                        <ion-col>
                            <button ion-button icon-left clear medium
                                    (click)="showDrivingDirections(material.supplier.lat, material.supplier.lon)">
                                <ion-icon name="navigate"></ion-icon>
                                Launch Navigation
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
        <div *ngIf="task_materials.length === 0">
            <ion-card-content class="crew-font" padding>
                No Materials Specified
            </ion-card-content>
        </div>

    </ion-card>

    <ion-card *ngIf="task_files.length > 0">
        <ion-card-header class="task-card-header">
            Task Images/Documents
        </ion-card-header>
        <ion-card-content class="task-card-content">
            <ion-row>
                <ion-col text-center>
                    <h5 class="add_notes" text-center>Select An Image To Enlarge</h5>
                </ion-col>
            </ion-row>
            <ion-row class="spacer"></ion-row>
            <ion-row>
                <ion-col *ngFor="let file of task_files" col-6>
                    <div (click)="openAttachedImage(file)">
                        <figure>

                            <div *ngIf="file.file_type !== 'application/pdf'" class="image-container">
                                <img src="{{taskFileUrl}}{{file.file_name}}" class="image-width">
                            </div>
                            <div *ngIf="file.file_type === 'application/pdf'" class="image-container">
                                <img src="../../assets/img/pdf.png" class="image-width">
                            </div>
                            <figcaption class="image-notes" padding-top *ngIf="file.notes !== null"><u>Read
                                <span *ngIf="file.file_type !== 'application/pdf'">Image</span><span
                                    *ngIf="file.file_type === 'application/pdf'">PDF</span> Notes</u></figcaption>
                            <figcaption padding-top *ngIf="file.notes === null">No Image Notes</figcaption>
                        </figure>

                    </div>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="task_links.length > 0">
        <ion-card-header class="task-card-header">
            Task External Url<span *ngIf="task_links.length>1">s</span>
        </ion-card-header>
        <ion-card-content class="task-card-content">
            <ion-row *ngFor="let link of task_links">

                <ion-item *ngFor="let link of task_links" no-padding>
                    <h5 class="add_notes task-link" (click)="openAttachedUrl(link.url)">{{link.url}}</h5>
                </ion-item>

            </ion-row>
        </ion-card-content>
    </ion-card>

</ion-content>





