<ion-header>
    <ion-navbar *ngIf="isIos">
        <ion-row>
            <ion-col width-50>
                <div text-center>
                    <div class="ios-title">
                        Task List
                    </div>
                </div>
            </ion-col>

            <ion-col width-33 class="ios-refresh">
                <ion-buttons class="mar-right6" end>
                    <button class="refresh" ion-button round icon-right color="secondary"
                            (click)="loadTomorrowsTasks(userId)"> Refresh
                        <ion-icon class="logout-hide" name="refresh"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-navbar>
    <ion-navbar *ngIf="!isIos">
        <ion-row>
            <ion-title>Task List</ion-title>
            <ion-buttons class="mar-right6" end>
                <button class="refresh" ion-button round icon-right color="secondary"
                        (click)="loadTomorrowsTasks(userId)"> Refresh
                    <ion-icon name="refresh"></ion-icon>
                </button>
            </ion-buttons>
        </ion-row>
    </ion-navbar>

</ion-header>


<ion-content footer>

    <div *ngIf="nextDayTask.data?.length === 0">
        <ion-card>
            <ion-card-header text-center class="task-card-header no-future">
                No Upcoming Tasks
            </ion-card-header>
        </ion-card>
    </div>

    <div *ngIf="showTasks">
        <div *ngIf="nextDayTask">
            <ion-card class="card-border" *ngFor="let date of nextDayTask.data | myKeys ; let i = index">
                <ion-card-header class="task-card-header" *ngIf="isIos">

                    <div bold class="head-font" text-center *ngIf="nextDayTask.data[date].length === 1">
                        {{convertDate(date)}}: {{nextDayTask.data[date].length}} TASK
                    </div>
                    <div bold class="head-font" text-center *ngIf="nextDayTask.data[date].length > 1">
                        {{convertDate(date)}}: {{nextDayTask.data[date].length}} TASKS
                    </div>
                </ion-card-header>
                <ion-card-header class="task-card-header" *ngIf="!isIos">

                    <div bold class="head-font" text-center *ngIf="nextDayTask.data[date].length === 1">
                        {{date | date:'mediumDate' }}: {{nextDayTask.data[date].length}} TASK
                    </div>
                    <div bold class="head-font" text-center *ngIf="nextDayTask.data[date].length > 1">
                        {{date | date:'mediumDate' }}: {{nextDayTask.data[date].length}} TASKS
                    </div>
                </ion-card-header>
                <ion-card-content>
                    <div *ngFor="let task of nextDayTask.data[date]; let j = index">
                        <div class="card-width">

                            <ion-grid class="task-button">

                                <ion-row (click)="openSingleTask(task); alertObject = {}">
                                    <ion-col class="accept-icon" width-10
                                             *ngIf="task.status_id === 3 || task.status_id === 4 || task.status_id === 9">
                                        <ion-icon name="fa-check"></ion-icon>
                                    </ion-col>
                                    <ion-col class="accept-icon" width-10
                                             *ngIf="task.status_id === 8 || task.status_id === 5 || task.status_id === 6 || task.status_id === 7 || task.status_id === 12 || task.status_id === 13">
                                        <ion-icon name="fa-times"></ion-icon>
                                    </ion-col>
                                    <ion-col class="accept-icon" width-10 *ngIf="task.status_id === 2">
                                        <ion-icon name="fa-square-o"></ion-icon>
                                    </ion-col>
                                    <ion-col class="task-text" text-left
                                             *ngIf="(j >= 0 && (expandTaskId !== task.id || taskId !== j))  && (expandTaskId !== task.id)"
                                             width-50>
                                        {{task.job_name}}
                                    </ion-col>
                                    <ion-col class="task-text" text-left
                                             *ngIf="(j >= 0 && (expandTaskId === task.id && taskId === j)) || (expandTaskId === task.id)"
                                             width-50>
                                        View Task Details
                                    </ion-col>
                                    <ion-col width-30 text-right class="newTime"
                                             *ngIf="expandTaskId !== task.id || taskId !== j">
                                        {{task.strTime}}
                                    </ion-col>
                                    <ion-col class="task-icon" width-10>
                                        <ion-icon
                                            *ngIf="(expandTaskId !== task.id || taskId !== j) && (expandTaskId !== task.id)"
                                            name="fa-chevron-circle-right"></ion-icon>
                                        <ion-icon
                                            *ngIf="(expandTaskId === task.id && taskId === j) || (expandTaskId === task.id)"
                                            name="fa-chevron-circle-down"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>


                            <div class="next-space" *ngIf="expandTaskId === task.id">

                                <!--Read Alert-->
                                <ion-card class="card-border"
                                          *ngIf="expandTaskId === dispatchAlert && alertObject.viewed === 1">
                                    <ion-card-header *ngIf="alertObject.viewed === 1" class="read-alert">
                                        Alert Details
                                        <h3 class="text-from">From: {{alertObject.sending_emp.first_name}}
                                            {{alertObject.sending_emp.last_name}}</h3>
                                    </ion-card-header>
                                    <ion-card-content class="task-card-content">
                                        <ion-row padding-top>
                                            <h5 class="contractor-sub">{{alertObject.alert_description}}</h5>
                                        </ion-row>
                                        <ion-row>
                                            <h4 class="mar-bot-10">
                                                <button ion-button icon-left clear medium
                                                        class="call-contractor"
                                                        (click)="callPhone(alertObject.sending_emp.phone)">
                                                    <span class="contractor-phone">{{alertObject.sending_emp.first_name}}'s #: </span>
                                                    <span
                                                        class="contractor-underline">{{alertObject.sending_emp.phone}}</span>
                                                </button>
                                            </h4>
                                        </ion-row>
                                        <ion-row>
                                            <h6 class="important mar-bot-7">Sent: {{alertObject.strTimeSent}} -
                                                {{alertObject.strDateSent}}
                                            </h6>
                                        </ion-row>
                                    </ion-card-content>
                                </ion-card>

                                <!--unread Alert-->
                                <ion-card class="card-border-unread"
                                          *ngIf="expandTaskId === dispatchAlert && alertObject.viewed === 0">
                                    <ion-card-header *ngIf="alertObject.viewed === 0" class="unread-alert">
                                        New Alert!
                                        <h3 class="text-from">From: {{alertObject.sending_emp.first_name}}
                                            {{alertObject.sending_emp.last_name}}</h3>
                                    </ion-card-header>
                                    <ion-card-content class="task-card-content">
                                        <ion-row padding-top>
                                            <h5 class="contractor-sub">{{alertObject.alert_description}}</h5>
                                        </ion-row>
                                        <ion-row>
                                            <h4 class="mar-bot-10">
                                                <button ion-button icon-left clear medium
                                                        class="call-contractor"
                                                        (click)="callPhone(alertObject.sending_emp.phone)">
                                                    <span class="contractor-phone">{{alertObject.sending_emp.first_name}}'s #: </span>
                                                    <span
                                                        class="contractor-underline">{{alertObject.sending_emp.phone}}</span>
                                                </button>
                                            </h4>
                                        </ion-row>
                                        <ion-row>
                                            <h6 class="important mar-bot-7">Sent: {{alertObject.strTimeSent}} -
                                                {{alertObject.strDateSent}}
                                            </h6>
                                        </ion-row>
                                    </ion-card-content>
                                </ion-card>

                            </div>
                        </div>
                    </div>
                </ion-card-content>

            </ion-card>

        </div>
    </div>

</ion-content>

<!--<div *ngIf="nextDayTask.data?.length === 0">-->
<!--<div *ngIf="!isIos">-->
<!--<div ion-fixed class="fs-no-results-container" style="color:#2d2d2d">-->
<!--<div class="content">-->
<!--&lt;!&ndash;<ion-icon name="paper-plane"></ion-icon>&ndash;&gt;-->
<!--<div class="fs-no-results-msg">You Do Not Have<br/>Any Future Tasks</div>-->
<!--<div class="button-container">-->
<!--<button class="home-btn" ion-button icon-right block color="secondary"-->
<!--(click)="loadTomorrowsTasks(userId)">-->
<!--Check for Future Tasks-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div *ngIf="isIos">-->
<!--<div ion-fixed class="fs-no-results-container-ios" style="color:#2d2d2d">-->
<!--<div class="content">-->
<!--&lt;!&ndash;<ion-icon name="paper-plane"></ion-icon>&ndash;&gt;-->
<!--<div class="fs-no-results-msg">You Do Not Have<br/>Any Future Tasks</div>-->
<!--<div class="button-container">-->
<!--<button class="home-btn" ion-button icon-right block color="secondary"-->
<!--(click)="loadTomorrowsTasks(userId)">-->
<!--Check for Future Tasks-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->



