page-next-day {
  .card p {
    color: #000;
    font-size: 1.7rem;
  }

  .card-header-md {
    font-size: 2.5rem;
    padding: 10px 16px;
  }

  .card-header-ios {
    font-size: 2.5rem;
    padding: 10px 16px;
  }

  h3 {
    font-size: 1.8rem !important;
    margin: 8px 0 8px 0 !important;
  }

  h4 {
    font-size: 1.5rem !important;
  }

  h5 {
    font-size: 1.2rem !important;
  }

  .head-font {
    font-size: 2.5rem;
  }

  ion-grid ion-row ion-col {
    height: 40px;
  }

  ion-footer ion-grid {
    height: 62px;
  }

  .task-icon {
    top: 16px;
    right: -20px;
    color: #3F51B5;
  }

  .show-all {
    display: inherit;
  }
  .show-navigation-only {
    display: none;
  }

  @media (max-width: 426px) {
    .next-space {
      width: 110%;
      margin-left: -5%;
    }
  }

  @media (max-width: 376px) {
    .task-icon {
      right: -10px;
    }
    .next-space {
      width: 109%;
      margin-left: -5%;
    }
  }

  @media (max-width: 350px) {
    .task-icon {
      right: -5px;
    }
    .newTime {
      color: white;
      top: -1px;
    }
    .next-space {
      width: 112%;
      margin-left: -6%;
    }

    .show-all {
      display: none;
    }
    .show-navigation-only {
      display: inherit;
    }
    .card-header {
      font-size: 2.3rem;
    }
  }

  .gen-mar-bot20 {
    margin-bottom: 20px !important;
  }

  .fs-no-results-container-ios {
    top: 70px;
  }

  .fs-no-results-container {
    top: 58px;
  }

  .ios-refresh {
    margin-left: 15%;
  }

  .accept-icon {
    top: 16px;
    right: 4px;
  }

  .no-future {
    font-weight: 700;
    font-size: 2.5rem;
  }

  .text-from {
    color: #3F51B5;
    font-weight: 500;
    font-size: 1.4rem !important;
    margin-bottom: -2px !important;
    margin-top: -2px !important;
  }

  .read-alert {
    background-color: #EFEFEF;
  }

  .card-border-unread {
    border: 4px solid #FF6674;
  }

  .unread-alert {
    background-color: #FF6674;
    color: #FFFB7F;
  }

  .alert-card-border {
    border: 5px solid #FF6674;
  }

  .in-progress {
    color: rgb(0, 205, 0);
  }

  .on-hold {
    color: #D90000;
  }

  .complete {
    color: rgb(0, 128, 0);
  }

  .important {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
  }

  .mar-bot-7 {
    margin-bottom: -7px;
  }

  .mar-bot-10 {
    margin-bottom: -10px;
  }

}
