

<ion-header>

    <ion-navbar>
        <ion-title>Timecard Search</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>


    <ion-card>
        <ion-card-header>
            <ion-buttons text-center>
                <button class="search-buttons" color="timecard" ion-button block icon-left
                        (click)="dateRange()">
                    Select Search Dates
                </button>
            </ion-buttons>
        </ion-card-header>
    </ion-card>


    <!--Timecard Search-->
    <div *ngIf="startDay !== -1">
        <ion-card>
            <ion-card-header text-center class="task-card-header">
                {{startDay | date:'mediumDate'}} To {{endDay | date:'mediumDate'}}
            </ion-card-header>
            <ion-card-content>
                <ion-buttons text-center>
                    <button class="search-button search-buttons" color="secondary" ion-button block icon-left
                            (click)="timecardSearch()">
                        <ion-icon name="search"></ion-icon>
                        Search
                    </button>
                </ion-buttons>
            </ion-card-content>
        </ion-card>
    </div>


    <!--Search Results-->

    <div *ngIf="timecardHistory && showSearchResults">


        <div *ngFor="let date of timecardHistory | keys; let j = index">
            <ion-card class="card-border">
                <ion-card-header class="task-card-header search-results">
                    {{searchDate(date)}}
                </ion-card-header>
                <div *ngFor="let day of timecardHistory[date].entries;">
                    <ion-card-content class="clock-pad">
                        <ion-row>
                            <ion-col width-10>
                                <div *ngIf="day.status === 0" class="clock-out">
                                    <h3>in</h3>

                                </div>
                                <div *ngIf="day.status === 1" class="clock-in">
                                    <h3>in</h3>
                                </div>


                            </ion-col>

                            <ion-col width-50 class="no-pad-left">

                                <div class="normal-back">
                                    <h3 class="clock-status" *ngIf="day.status === 0">Clocked Out</h3>
                                </div>

                                <div class="normal-back">
                                    <h3 class="clock-status" *ngIf="day.status === 1">Clocked In</h3>
                                </div>


                            </ion-col>

                            <ion-col width-40>
                                <h3 *ngIf="!isIos" class="clock-time" text-right>{{day.updatedTime | date:'h:mm a'}}</h3>
                                <h3 *ngIf="isIos" class="clock-time" text-right>{{adjustTime(day.updatedTime)}}</h3>
                            </ion-col>


                        </ion-row>
                        <ion-row>
                            <ion-col *ngIf="day.notes !== 'NULL'">
                                <h3 text-wrap class="clock-notes">Notes: {{day.notes}}</h3>
                            </ion-col>
                        </ion-row>


                    </ion-card-content>
                </div>
                <ion-card-header class="task-card-header search-results">
                    Total Time: {{convertSeconds(timecardHistory[date].totaltime)}}
                </ion-card-header>


            </ion-card>
        </div>

        <ion-card>
            <ion-card-header class="task-card-header search-results">
                Timecard Search Results
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col width-45>
                        <h4>Dates:</h4>
                    </ion-col>
                    <ion-col width-55>
                        <h4 text-right>{{startDay | date:'MMM d'}} - {{endDay | date:'MMM d'}}</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col width-45>
                        <h4>Days Worked:</h4>
                    </ion-col>
                    <ion-col width-55>
                        <h4 text-right>{{holdArray.length}}</h4>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col width-45>
                        <h4>Total Time:</h4>
                    </ion-col>
                    <ion-col width-55>
                        <h4 text-right>{{convertTotalSeconds()}}</h4>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>


    </div>


</ion-content>

<!--Code for editing past day's history-->
<!--<ion-row class="btn-margin">-->
<!--<ion-col width-50>-->
<!--<ion-buttons-->
<!--*ngIf="day.alt_timestamp !== day.timestamp || day.originalNotes !== day.notes">-->
<!--<button ion-button block color="danger" small-->
<!--(click)="timecardSearch()">-->
<!--Discard Changes-->

<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-col>-->
<!--<ion-col width-50>-->
<!--<ion-buttons-->
<!--*ngIf="day.alt_timestamp !== day.timestamp || day.originalNotes !== day.notes">-->
<!--<button ion-button block color="secondary" small-->
<!--(click)="updateTimecardSearch(day.id, day.alt_timestamp, day.newDate, k, day.notes)">-->
<!--Save Changes-->

<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-col>-->
<!--</ion-row>-->

<!--<ion-buttons-->
<!--*ngIf="day.alt_timestamp !== day.timestamp || day.originalNotes !== day.notes">-->
<!--<button color="primary"-->
<!--(click)="updateTimecardSearch(day.id, day.alt_timestamp, day.newDate, k, day.notes)">-->
<!--Update Changes-->

<!--</button>-->
<!--</ion-buttons>-->


<!--Code for editing past day's history-->
<!--<ion-row>-->
<!--<ion-col text-center>-->
<!--<ion-buttons *ngIf="!showCreateOld || addOldEntry !== j">-->
<!--<button ion-button block color="secondary" (click)="showOldEntryCreation(j)">-->
<!--Create New Entry-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-col>-->
<!--</ion-row>-->

<!--<div *ngIf="addOldEntry === j">-->
<!--<ion-card class="card-border new-entry">-->
<!--<ion-card-header class="task-card-header">-->
<!--New Timecard Entry-->
<!--</ion-card-header>-->
<!--<ion-card-content>-->
<!--<ion-list radio-group [(ngModel)]="oldDayEntry.status" required>-->
<!--<ion-item class="pad7">-->
<!--<ion-label>Clock In</ion-label>-->
<!--<ion-radio value="1"></ion-radio>-->
<!--</ion-item>-->

<!--<ion-item class="pad7">-->
<!--<ion-label>Clock Out</ion-label>-->
<!--<ion-radio value="0"></ion-radio>-->
<!--</ion-item>-->

<!--</ion-list>-->
<!--<ion-item class="pad7">-->
<!--<ion-label>Time</ion-label>-->
<!--<ion-datetime displayFormat="h:mm a" pickerFormat="h mm A"-->
<!--[(ngModel)]="oldDayEntry.time">-->
<!--</ion-datetime>-->
<!--</ion-item>-->

<!--<ion-item class="pad0">-->
<!--<ion-input [(ngModel)]="oldDayEntry.notes" placeholder="Notes"-->
<!--clearInput></ion-input>-->
<!--</ion-item>-->

<!--<ion-row>-->
<!--<ion-col width-50>-->
<!--<ion-buttons>-->
<!--<button ion-button block color="danger" (click)="cancelOldEntry()">-->
<!--Cancel-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-col>-->
<!--<ion-col width-50>-->
<!--<ion-buttons>-->
<!--<button ion-button block color="secondary"-->
<!--(click)="createOldEntry(date, oldDayEntry.status, oldDayEntry.time, oldDayEntry.notes)"-->
<!--[disabled]="disableOldEntry()">-->
<!--Save-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-col>-->
<!--</ion-row>-->


<!--</ion-card-content>-->
<!--</ion-card>-->


<!--</div>-->

<!--<ion-card class="card-border">-->
<!--<ion-card-header class="task-card-header">-->
<!--Create New Day and Time Entry-->
<!--</ion-card-header>-->
<!--<ion-card-content>-->
<!--<ion-list radio-group [(ngModel)]="oldDayAndTimeEntry.status" required>-->
<!--<ion-item>-->
<!--<ion-label>Clock In</ion-label>-->
<!--<ion-radio value="1"></ion-radio>-->
<!--</ion-item>-->

<!--<ion-item>-->
<!--<ion-label>Clock Out</ion-label>-->
<!--<ion-radio value="0"></ion-radio>-->
<!--</ion-item>-->

<!--</ion-list>-->

<!--<ion-row>-->
<!--<ion-item>-->
<!--<ion-label>Date</ion-label>-->
<!--<ion-datetime displayFormat="MMM D, YYYY" pickerFormat="MMM D YYYY"-->
<!--[(ngModel)]="oldDayAndTimeEntry.date"></ion-datetime>-->
<!--</ion-item>-->
<!--</ion-row>-->
<!--<ion-row>-->
<!--<ion-item>-->
<!--<ion-label>Time</ion-label>-->
<!--<ion-datetime displayFormat="h:mm a" pickerFormat="h mm A"-->
<!--[(ngModel)]="oldDayAndTimeEntry.time">-->
<!--</ion-datetime>-->
<!--</ion-item>-->
<!--</ion-row>-->


<!--<ion-item>-->
<!--<ion-input [(ngModel)]="oldDayAndTimeEntry.notes" placeholder="Notes"-->
<!--clearInput></ion-input>-->
<!--</ion-item>-->

<!--<ion-row>-->
<!--<ion-col width-50>-->
<!--<ion-buttons>-->
<!--<button ion-button block color="danger" (click)="cancelNewDayEntry()">-->
<!--Cancel-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-col>-->
<!--<ion-col width-50>-->
<!--<ion-buttons>-->
<!--<button ion-button block color="secondary"-->
<!--(click)="createDayAndTime(oldDayAndTimeEntry.date, oldDayAndTimeEntry.time, oldDayAndTimeEntry.status, oldDayAndTimeEntry.notes)"-->
<!--[disabled]="disableNewDay()">-->
<!--Save-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--</ion-card-content>-->
<!--</ion-card>-->
